﻿@model IEnumerable<SimStore_DucPham.ViewModels.ProductViewModel>
@using SimStore_DucPham.Helper
@using SimStore_DucPham.ViewModels
@{
    int numProduct = 1;
    long countPrice = 0;
    if (Model == null || Model.Count() == 0)
    {
        <span>Chưa có món hàng nào trong giỏ</span>
    }
    else
    {

        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th class="stt-w40">STT</th>
                    <th class="text-center">Số sim</th>
                    <th class="text-center">Mạng</th>
                    <th class="text-center">Giá bán</th>
                    <th class="text-center">Thao tác</th>
                </tr>
            </thead>
            <tbody id="cart-tbody">
                @foreach (ProductViewModel product in Model)
                {
                    <tr>
                        <td class="stt-w40">@numProduct</td>
                        <td class="text-center" style="font-weight: bold;color:#0098db;">@ConvertHelper.FormatPhoneNumber(product.Number)</td>
                        <td class="text-center"><img style='width: 75px;height: 21px;' src='@product.CarrierImage' /></td>
                        <td class="text-center" style="font-weight: bold;">@ConvertHelper.FormatPrice(product.Price)</td>
                        <td class="text-center"><button onclick=RemoveCartItem(@product.Id) class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> Xóa</button></td>
                    </tr>
                    numProduct++;
                    countPrice += product.Price;
                }
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                <div style="font-weight:bold;">Tổng tiền: <span id="count-price" style="color:red;font-size: 20px;">@ConvertHelper.FormatPrice(countPrice)</span></div>

                <sup><font size="1">( @ConvertHelper.PriceToString(countPrice) )</font></sup>
            </div>
        </div>

    }
}