﻿@model IEnumerable<SimStore_DucPham.ViewModels.ProductViewModel>
    @using SimStore_DucPham.Helper
    @using SimStore_DucPham.ViewModels
    @using SimStore_DucPham.Models
    @{
        int numProduct = 1;
        long countPrice = 0;
        Layout = "~/Views/Shared/_HomeLayout.cshtml";
    }
    <div id="main_box" style="border-top: 1px solid #ddd;margin-top:5px;">
        <div class="b">
            <div class="row">
                <div class="col-md-12">
                    <div class='chon-sim-title'>
                        <div>
                            Danh sách mặt hàng trong giỏ
                        </div>
                    </div>
                </div>
            </div>
            <br />
            @{
                if (Model.Count() == 0)
                {
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <div>Giỏ hàng của bạn rỗng.</div>
                        </div>
                        <div class="col-md-4">
                            <button type="button" id="btn-xem-tat-ca" class="btn btn-warning btn-sm  f-right">Tiếp tục mua hàng</button>
                        </div>
                    </div>

                }
                else
                {
                    <table style="width: 100%" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="" colspan="2" style="background-color:#fff">
                                    <div id="body-cart2">
                                        <table class="table table-bordered table-responsive">
                                            <thead>
                                                <tr>
                                                    <th class="stt-w40">STT</th>
                                                    <th class="text-center">Số sim</th>
                                                    <th class="text-center">Mạng</th>
                                                    <th class="text-center">Giá bán</th>
                                                    <th class="text-center">Thao tác</th>
                                                </tr>
                                            </thead>
                                            <tbody id="cart-tbody">
                                                @foreach (ProductViewModel product in Model)
                                                {
                                                    <tr>
                                                        <td class="stt-w40">@numProduct</td>
                                                        <td class="text-center" style="font-weight: bold;color:#0098db;">@ConvertHelper.FormatPhoneNumber(product.Number)</td>
                                                        <td class="text-center"><img style='width: 75px;height: 21px;' src='@product.CarrierImage' /></td>
                                                        <td class="text-center" style="font-weight: bold;">@ConvertHelper.FormatPrice(product.Price)</td>
                                                        <td class="text-center"><button onclick=RemoveCartItem('@product.Id','@ConvertHelper.FormatPhoneNumber(product.Number)') class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span> Xóa</button></td>
                                                    </tr>
                                                    numProduct++;
                                                    countPrice += product.Price;
                                                }
                                            </tbody>
                                        </table>
                                        <div class="row" style="margin-left: 10px;">
                                            <div class="col-md-12">
                                                <div style="font-weight:bold;">Tổng tiền: <span id="count-price" style="color:red;font-size: 20px;">@ConvertHelper.FormatPrice(countPrice)</span></div>

                                                <sup><font size="1">( @ConvertHelper.PriceToString(countPrice) )</font></sup>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row f-right">
                                        <div class="col-md-12">
                                            <button type="button" id="btn-xem-tat-ca" class="btn btn-warning btn-xs">Tiếp tục mua hàng</button>
                                            @{
                                                if (Session[KeyHelper.Session_Login] == null)
                                                {
                                                    <a href="/dang-nhap" class="btn btn-success btn-xs">Đăng nhập để mua</a>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-info btn-xs" id="buy-cart">Tiến hành đặt hàng</button>
                                                }
                                            }
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            }
        </div>
    </div>
    @section Scripts {
        <script src="~/Scripts/Home/cartJS.js"></script>
    }