﻿@model SimStore_DucPham.Models.OrderOkModel
@using SimStore_DucPham.ViewModels
@using SimStore_DucPham.Helper
@{
    long countPrice = 0;
    int stt = 1;
    Layout = "~/Views/Shared/_CartLayout.cshtml";
}
<div class="row">
    <div class="col-md-12 text-center">
        <div id="main_box">
            <div class="h">Đặt hàng thành công</div>
        </div>
        <div class="alert alert-info alert-dismissable" style="background-color: #f6f6f6;">
            <img src="https://simthanglong.vn/images/like.png" style="width: 40px;">
            <div style="padding: 10px; ">
                <span>
                    Chúng tôi đã gửi cho bạn một Email xác nhận đơn hàng vào @Model.Email .
                    <br />
                    <strong style="color:red;">
                        Vui lòng truy cập Email và xác nhận đơn hàng trong vòng @System.Configuration.ConfigurationManager.AppSettings["TimeBillLimit"] phút.
                        <br />Nếu không xác nhận trong thời gian @System.Configuration.ConfigurationManager.AppSettings["TimeBillLimit"] phút, đơn hàng sẽ tự động hủy bỏ.
                    </strong>
                </span>
            </div>
            <br>
            <strong class="f-left" style="color: red;">Thông tin mặt hàng</strong>
            <table class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <th class="stt-w40">STT</th>
                        <th class="text-center">Số Sim</th>
                        <th class="text-center">Mạng</th>
                        <th class="text-center">Giá bán</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ProductViewModel item in Model.Products)
                    {
                        <tr>
                            <td class="stt-w40">@stt</td>
                            <td class="text-center">@ConvertHelper.FormatPhoneNumber(item.Number)</td>
                            <td class="text-center">@item.CarrierName</td>
                            <td class="text-center">@ConvertHelper.FormatPrice(item.Price)</td>
                        </tr>
                        stt++;
                        countPrice += item.Price;
                    }
                </tbody>
                <thead>
                    <tr>
                        <th colspan="4">Tổng tiền: @ConvertHelper.FormatPrice(countPrice)</th>
                    </tr>
                </thead>
            </table>
            <br>
            <strong class="f-left" style="color: red;">Thông tin giao hàng</strong>
            <table class="table table-responsive table-bordered">
                <tbody>
                    <tr> <td>Tên khách hàng</td> <th>@Model.FullName</th> </tr>
                    <tr> <td>Điện thoại</td> <th>@ConvertHelper.FormatPhoneNumber(Model.PhoneNumber)<br></th> </tr>
                    <tr> <td>Địa chỉ nhận</td> <th>@Model.Address</th> </tr>
                </tbody>
            </table>
            <br />
            <p style="box-sizing: border-box; margin: 0px 0px 10px;">
                Sim mới nguyên kít . Miễn phí đăng ký chính chủ &amp; giao sim.<br style="box-sizing: border-box;">
                Hướng dẫn thanh toán và nhận sim:&nbsp;<br style="box-sizing: border-box;">
                <br style="box-sizing: border-box;">
                <strong style="box-sizing: border-box;">1/ Dành cho khách hàng tại nội thành&nbsp;@System.Configuration.ConfigurationManager.AppSettings["City"]&nbsp;</strong><br style="box-sizing: border-box;">
                &nbsp;<br style="box-sizing: border-box;">
                - Chúng tôi sẽ tiến hành giao sim tận nơi và thu tiền.<br style="box-sizing: border-box;">
                &nbsp;<br style="box-sizing: border-box;">
                &nbsp;<br style="box-sizing: border-box;">
                <strong style="box-sizing: border-box;">2/ Dành cho khách hàng ở các tỉnh, thành phố khác</strong><br style="box-sizing: border-box;">
                <br style="box-sizing: border-box;">
                - &nbsp;Nhân viên Viettel sẽ&nbsp;giao sim tận nơi và thu tiền tại&nbsp;địa chỉ quý khách ( khách hàng được kiểm tra sim )<strong style="box-sizing: border-box;">.</strong>
            </p>
        </div>
    </div>
</div>