﻿@using SimStore_DucPham.Models
@model LoginViewModel
@{
    /**/

    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Đăng nhập Admin</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/AdminLTE/css")
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=vietnamese" rel="stylesheet">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a><b>Đăng nhập Admin</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            @using (Html.BeginForm("AdminLogin", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <p class="login-box-msg">Đăng nhập vào phiên làm việc</p>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Tài khoản" })
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        @Html.CheckBoxFor(m => m.RememberMe, new { @type = "hidden" })
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Đăng nhập</button>
                    </div>
                    <!-- /.col -->
                </div>
            }
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    @Scripts.Render("~/AdminLTE/js")
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>