﻿@model SimStore_DucPham.Models.ExternalLoginConfirmationViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Xác nhận đăng ký</title>

    <!-- Custom fonts for this template-->
    <link href="~/Plugins/AdminSB2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Plugins/AdminSB2/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <p class="text-info">
                                            Bạn đã xác thực thành công với <strong>@ViewBag.LoginProvider</strong>.
                                            <br />
                                            Vui lòng điền đầy đủ thông tin cá nhân và tiến hành xác nhận đăng ký
                                        </p>
                                        <hr />
                                        <div class="row text-center">
                                            <div class="col-md-12">
                                                <div class="avatar">
                                                    <img src="@Model.UrlAvatar" style="border-radius: 50%; margin-bottom: 10px;vertical-align: middle;" class="currentImg" />
                                                    @Html.HiddenFor(m => m.UrlAvatar)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Họ và tên</label>
                                                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control form-control-sm" })
                                                    @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    @Html.TextBoxFor(m => m.Email, new { @readonly = "readonly", @class = "form-control form-control-sm" })
                                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger"})
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Điện thoại</label>
                                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control form-control-sm" })
                                                    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Địa chỉ</label>
                                                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control form-control-sm" })
                                                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="">
                                                        <a href="/" class="btn btn-danger btn-sm">Hủy bỏ</a>
                                                        <input type="submit" class="btn btn-info btn-sm" value="Đăng ký" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Plugins/AdminSB2/vendor/jquery/jquery.min.js"></script>
    <script src="~/Plugins/AdminSB2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Plugins/AdminSB2/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Plugins/AdminSB2/js/sb-admin-2.min.js"></script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>