﻿@using SimStore_DucPham.Models
@model LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Đăng nhập</title>

    <!-- Custom fonts for this template-->
    <link href="~/Plugins/AdminSB2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Plugins/AdminSB2/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row justify-content-center">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Đăng nhập</h1>
                                            @Html.ValidationSummary("", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control form-control-user", @placeholder = "Tài khoản" })
                                        </div>
                                        <div class="form-group">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-user", @placeholder = "Mật khẩu" })
                                        </div>
                                        @Html.CheckBoxFor(m => m.RememberMe, new { @type = "hidden" })

                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Đăng nhập
                                        </button>

                                    }
                                    <hr>

                                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                                    <hr />
                                    <div class="text-center">
                                        <a class="small" href="/dang-ky">Tạo tài khoản mới !</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="#">Bạn quên mật khẩu ?</a>
                                    </div>
                                    <hr />
                                    <div class="text-center">
                                        <a class="btn btn-info btn-sm" href="/">Quay lại</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Plugins/AdminSB2/vendor/jquery/jquery.min.js"></script>
    <script src="~/Plugins/AdminSB2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Plugins/AdminSB2/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Plugins/AdminSB2/js/sb-admin-2.min.js"></script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>