﻿@model SimStore_DucPham.Models.RegisterViewModel
@using SimStore_DucPham.Models
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tạo tài khoản mới</title>

    <!-- Custom fonts for this template-->
    <link href="~/Plugins/AdminSB2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Plugins/AdminSB2/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="p-5">
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Tạo tài khoản mới</h1>
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control form-control-user", @placeholder = "Họ và tên" })
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user", @placeholder = "Email của bạn" })
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control form-control-user", @placeholder = "Điện thoại" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control form-control-user", @placeholder = "Địa chỉ của bạn" })
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-user", @placeholder = "Mật khẩu" })
                                    </div>
                                    <div class="col-sm-6">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-user", @placeholder = "Xác nhận mật khẩu" })
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Đăng ký
                                </button>
                                <hr>
                            }
                            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                            <hr>
                            <div class="text-center">
                                <a class="small" href="#">Quên mật khẩu?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/dang-nhap">Đã có tài khoản? Đăng nhập!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Plugins/AdminSB2/vendor/jquery/jquery.min.js"></script>
    <script src="~/Plugins/AdminSB2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Plugins/AdminSB2/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Plugins/AdminSB2/js/sb-admin-2.min.js"></script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>