﻿@model IEnumerable<SimStore_DucPham.ViewModels.SlideOrderViewModel>
@foreach (var item in Model)
{
    <li class="ui-widget-content">
        <p>@item.FullName</p>
        <p>Sim:<strong>*****@item.Number.Substring(5)</strong></p>
        <p>Lúc: @item.CreateTime</p>
    </li>
}