﻿@model SimStore_DucPham.Models.ActiveBillModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Xác thực đơn hàng</title>

    <!-- Custom fonts for this template-->
    <link href="~/Plugins/AdminSB2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Plugins/AdminSB2/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="p-5">
                            @if (Model.Status)
                            {
                                <span>Xác thực đơn hàng thành công.</span>
                                <br />
                                <span>Mã đơn: @Model.Bill.Id</span>
                            }
                            else
                            {
                                <span>Xác thực đơn hàng không thành công.</span>
                                <br />
                                <span>@Model.Message</span>
                            }
                            <br />
                            <a href="/" class="btn btn-primary btn-sm" style="margin-right: 10px;">
                                <span class="glyphicon glyphicon-home"></span>
                                Về trang chủ
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Plugins/AdminSB2/vendor/jquery/jquery.min.js"></script>
    <script src="~/Plugins/AdminSB2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Plugins/AdminSB2/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Plugins/AdminSB2/js/sb-admin-2.min.js"></script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>