﻿@model SimStore_DucPham.ViewModels.ProductViewModel
@using SimStore_DucPham.Helper
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div id="main_box" style="border-top: 1px solid #ddd;margin-top:5px;">
    <div class="b">
        <div class="row">
            <div class="col-md-12">
                <div class='chon-sim-title'>
                    <div>
                        @ViewBag.Title
                        <button style="margin-left:10px;" id="btn-xem-tat-ca" class="btn btn-sm">Xem tất cả sim</button>
                    </div>
                </div>
            </div>
        </div>
        <table style="width: 100%" cellspacing="0" cellpadding="0">

            <tbody>
                <tr>
                    <td class="" colspan="2" style="background-color:#fff">
                        <table class="boder-table" style="width: 100%;padding:0 10px;margin-bottom: 10px;" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td class="fullwidth">
                                        <div class="style10 fullwidth">
                                            <div class="datmua-sosim">
                                                <span class="so-sim">Số sim:</span>
                                                <strong><a style="font-size:16px;margin-left: 10px;">@ConvertHelper.FormatPhoneNumber(Model.Number)</a></strong><br>
                                            </div>
                                            <div class="datmua-giaban">
                                                <span class="so-sim">Giá bán:</span>
                                                <strong>
                                                    <span style="color:#f00;margin-left: 5px;">@ConvertHelper.FormatPrice(Model.Price)</span>
                                                </strong>
                                            </div>
                                            <div class="datmua-mang ">
                                                <span class="so-sim">Mạng: <strong style="margin-left: 22px;color: #377fcc;">@Model.CarrierName</strong></span>
                                            </div>
                                            <div class="datmua-mang datmua-mang2">
                                                <strong><span> </span></strong>
                                            </div>
                                            <label class="giaofree giao-hang"> <span style="font-style: italic;">Giao sim miễn phí trên toàn quốc !</span></label>
                                        </div><div class="background-card @ConvertHelper.ConvertCarrierClass(Model.CarrierId)"><span>@ConvertHelper.FormatPhoneNumber(Model.Number)</span></div><table style="width: 100%" id="tables22" cellspacing="1" cellpadding="0"></table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 10px;">
                                        <table class="table">
                                            <tr>
                                                <th style="border-top: unset;">Mô tả mặt hàng:</th>
                                            </tr>
                                            <tr>
                                                <td style="border-top: unset;">@Model.Description</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center" style="padding: 10px;">
                                        <button style="width:165px;" type="button" class="btn btn-info" onclick=BuyProduct('@Model.Id','@Model.Number')><span class="glyphicon glyphicon-check"></span> Đặt mua Sim</button>
                                        <button style="width:165px;" type="button" class="btn btn-warning" onclick=AddProductToCart('@Model.Id','@ConvertHelper.FormatPhoneNumber(Model.Number)')><span class="glyphicon glyphicon-shopping-cart"></span> Thêm vào giỏ hàng</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="100%" colspan="2" style="color: #000;text-align: left; background: #fff; padding: 10px; border: 1px solid #ccc;    ">

                        <strong>Hướng dẫn cách thức mua sim @ConvertHelper.FormatPhoneNumber(Model.Number) </strong> <br>
                        Chúng tôi luôn luôn nỗ lực không ngừng nhằm mang đến sự tiện ích cho Quý khách hàng, Đặc biệt là vấn đề thanh toán và nhận sim chúng tôi có hai hình thức để quý khách lựa chọn:<br>

                        1/ Dành cho khách hàng tại nội thành @System.Configuration.ConfigurationManager.AppSettings["City"] <br>

                        - Chúng tôi sẽ tiến hành giao sim tận nơi và thu tiền. ( Miễn phí giao )<br>

                        2/ Dành cho khách hàng ở các tỉnh, thành phố khác . ( Miễn phí giao )<br>

                        -  Nhân viên Bưu Điện sẽ giao sim tận nơi và thu tiền tại địa chỉ quý khách (Quý khách được kiểm tra sim).<br>
                        Chúc quý khách gặp nhiều may mắn khi sở hữu thuê bao <strong>@ConvertHelper.FormatPhoneNumber(Model.Number)</strong><br>
                        <br>
                        <strong><span style="font-size: 16px;">* Chú ý: </span></strong><br>
                        Tất cả các phòng bì nhận sim đều kèm theo hướng dẫn đăng kí chính chủ trong vòng 5p<br>
                        Khách hàng nhận sim làm theo tờ giấy hướng dẫn bên dưới<br>
                        <br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/Home/chonSimJS.js"></script>
}