﻿@model SimStore_DucPham.Models.HomeIndexModel
@using SimStore_DucPham.ViewModels
@using SimStore_DucPham.Helper
@{
    List<ProductViewModel> productsNew = Model.ProductsNew;
    List<ProductViewModel> productsNormal = Model.ProductsNormal;
}
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div id="main_box" style="border-top: 1px solid #ddd;margin-top:5px;">
    <div class="b">
        <table cellspacing="1" id="tables">
            <tr>
                <td>
                    <div class='number_01'>
                        <i class='logo-hot'></i>
                        <h3 class='simdep-km-sim'>
                            Sim mới nhập kho
                            <div class='xemthem'><a href='/tat-ca-sim'>Xem tất cả >></a></div>
                        </h3>
                    </div>

                    <ul class="simdep-ul" id="pSimNew">
                        @{
                            foreach (ProductViewModel product in productsNew)
                            {
                                string Number = ConvertHelper.FormatPhoneNumber(product.Number);
                                string Price = ConvertHelper.FormatPrice(product.Price);
                                <li class='sim-dep-li'>
                                    <div style=' padding: 2.5px; '>
                                        <a href='/chon-sim?number=@product.Number'>
                                            <div class='simcard'>
                                                @if (product.CarrierName.ToLower().Equals("viettel"))
                                                {
                                                    <div class='Viettel'></div>
                                                }
                                                else if (product.CarrierName.ToLower().Equals("mobifone"))
                                                {
                                                    <div class='Mobifone'></div>
                                                }
                                                else if (product.CarrierName.ToLower().Equals("vinaphone"))
                                                {
                                                    <div class='Vinaphone'></div>
                                                }
                                                else
                                                {
                                                    <div class='Vietnamsim'></div>
                                                }
                                                <div style='padding-bottom: 2px;position: relative;'>
                                                    <span style='font-size:18px; font-weight:bold;color:#0098db'>@Number</span>
                                                </div><div><font size='3' color=#084c7d>@Price</font></div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <div class='number_01'>
                        <i class='logo-random'></i>
                        <h3 class='simdep-km-sim'>
                            Sim ngẫu nhiên cho bạn
                            <div class='xemthem'><a id="random-btn"><span class="glyphicon glyphicon-random"></span> Ngẫu nhiên</a></div>
                        </h3>
                    </div>

                    <ul class="simdep-ul" id="pSimRandom">
                        @{
                            foreach (ProductViewModel product in productsNormal)
                            {
                                string Number = ConvertHelper.FormatPhoneNumber(product.Number);
                                string Price = ConvertHelper.FormatPrice(product.Price);
                                <li class='sim-dep-li'>
                                    <div style=' padding: 2.5px; '>
                                        <a href='/chon-sim?number=@product.Number'>
                                            <div class='simcard'>
                                                @if (product.CarrierName.ToLower().Equals("viettel"))
                                                {
                                                    <div class='Viettel'></div>
                                                }
                                                else if (product.CarrierName.ToLower().Equals("mobifone"))
                                                {
                                                    <div class='Mobifone'></div>
                                                }
                                                else if (product.CarrierName.ToLower().Equals("vinaphone"))
                                                {
                                                    <div class='Vinaphone'></div>
                                                }
                                                else
                                                {
                                                    <div class='Vietnamsim'></div>
                                                }
                                                <div style='padding-bottom: 2px;position: relative;'>
                                                    <span style='font-size:18px; font-weight:bold;color:#0098db'>@Number</span>
                                                </div><div><font size='3' color=#084c7d>@Price</font></div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/Home/homeJS.js"></script>
}