﻿@model PagedList.IPagedList<SimStore_DucPham.ViewModels.ProductViewModel>
@using PagedList.Mvc
@using SimStore_DucPham.ViewModels
@using SimStore_DucPham.Helper
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    int numberProduct = (Model.PageNumber - 1) * 2 + 1;
}
<div id="main_box" style="border-top: 1px solid #ddd;margin-top:5px;">
    <div class="b">
        <div class="row">
            <div class="col-md-12">
                <div class='chon-sim-title'>
                    <div>
                        @ViewBag.Title
                        <div class='xemthem'><span id="num-product" class="a-xemthem"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="product-info">
            <table id="table-product" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th class="stt-w40">STT</th>
                        <th class="number-w160">Số SIM</th>
                        <th class="carrier-w120">Mạng</th>
                        <th class="price-w150">Giá bán</th>
                        <th class="text-center">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (ProductViewModel product in Model)
                        {
                            <tr>
                                <td class="stt-w40">@numberProduct</td>
                                <td class="number-w160">
                                    <a href='/chon-sim?number="@product.Number"'>
                                        <div class='product-view'>@ConvertHelper.FormatPhoneNumber(product.Number)</div>
                                    </a>
                                </td>
                                <td class="carrier-w120">
                                    <img style='width: 75px;height: 21px;' src='@product.CarrierImage' />
                                </td>
                                <td class="price-w150">
                                    <div class='price-view'>@ConvertHelper.FormatPrice(product.Price)</div>
                                </td>
                                <td>
                                    <button onclick=AddToCart(@product.Id) style='margin-right: 5px;' class='btn btn-xs btn-warning'>
                                    <span class='glyphicon glyphicon-shopping-cart'></span> Thêm vào giỏ</button>
                                    <button onclick=BuyProduct(@product.Id) class='btn btn-xs btn-danger'>
                                        Đặt mua
                                    </button>
                                </td>
                            </tr>
                            numberProduct++;
                        }
                    }
                </tbody>
            </table>
            <div class="text-center">
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                @Html.PagedListPager(Model,page => Url.Action("ProductByCarrier", "Home", new { carrier = ViewBag.Id, page}),
                    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions()
                    { HttpMethod = "GET" , UpdateTargetId = "product_info" } ))
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @*<script src="~/Scripts/Home/timSimJS.js"></script>*@
}