﻿@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div id="main_box" style="border-top: 1px solid #ddd;margin-top:5px;">
    <div class="b">
        <div class="row">
            <div class="col-md-12">
                <input type="hidden" value="@ViewBag.Id" id="id-get" />
                <div class='chon-sim-title'>
                    <div>
                        @ViewBag.Title
                        <button style="margin-left:10px;" id="btn-xem-tat-ca" class="btn btn-sm">Tất cả danh mục</button>
                        <div class='xemthem'><span id="num-product" class="a-xemthem"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="padding-left: 20px;">
                <div class="form-inline">
                    <label>Mạng:</label>
                    <select class="form-control" id="select-carrier" style="height: 31px;">
                        <option value="all">Tất cả</option>
                        <option value="viettel">Viettel</option>
                        <option value="mobifone">Mobifone</option>
                        <option value="vinaphone">Vinaphone</option>
                        <option value="vietnammobile">Vietnamobile</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-inline">
                    <label>Mức giá:</label>
                    <select class="form-control" id="select-price" style="height: 31px;">
                        <option value="all">Tất cả</option>
                        <option value="0-500">Dưới 500.000</option>
                        <option value="500-1000">Từ 500 đến 1 triệu</option>
                        <option value="1000-3000">Từ 1 đến 3 triệu</option>
                        <option value="3000-5000">Từ 3 đến 5 triệu</option>
                        <option value="5000-10000">Từ 5 đến 10 triệu</option>
                        <option value="10000-999999999">Trên 10 triệu</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-inline">
                    <label>Sắp xếp:</label>
                    <select class="form-control" id="select-sapxep" style="height: 31px;">
                        <option value="random">Ngẫu nhiên</option>
                        <option value="new">Mới nhất</option>
                        <option value="price-az">Giá thấp đến cao</option>
                        <option value="price-za">Giá cao đến thấp</option>
                    </select>
                </div>
            </div>
        </div>
        <table id="table-product" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Số SIM</th>
                    <th>Mạng</th>
                    <th>Giá bán</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/Home/timSimJS.js"></script>
}