﻿@{
    ViewBag.Title = "Quản lý đơn hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    td.details-control {
        background: url('/Plugins/datatables/details_open.png') no-repeat right;
        cursor: pointer;
        /*padding-left: 25px !important;*/
    }

    tr.shown td.details-control {
        background: url('/Plugins/datatables/details_close.png') no-repeat right;
        /*padding-left: 25px !important;*/
        cursor: pointer;
    }

    #iGiaoHang tr th, #iGiaoHang tr td, #iDonHang tr th, #iDonHang tr td, #tDonHang tr th, #tDonHang tr td {
        border: 1px solid #3a3434;
    }

    .form-group {
        margin-bottom: 0px;
    }
</style>
<div class="modal fade" id="info-bill" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Chi tiết hóa đơn</h4>
            </div>
            <div class="modal-body" style="margin: 0px 15px;">
                <form id="frmUpdate" class="form-horizontal">
                    <div class="row line-row">
                        <div class="col-md-6" style="padding-left: 0px;">
                            <div class="form-inline">
                                <label>Loại đơn hàng: <span id="iLoaiDonHang" style='font-weight: bold;'></span></label>
                                <input type="hidden" id="iBillId" />
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5" style="padding-left: 0px;">
                            <div class="form-inline">
                                <label>Trạng thái: <span id="iTrangThai" style='font-weight: bold;'></span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row line-row">
                        <div class="col-md-6" style="padding-left: 0px;">
                            <div class="form-inline">
                                <label>Người mua: <span id="iNguoiDat" style='font-weight: bold;'></span></label>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5" style="padding-left: 0px;" id="shDienThoai">
                            <div class="form-inline">
                                <label>Điện thoại: <span id="iDienThoai" style='font-weight: bold;'></span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row line-row">
                        <div class="col-md-6" style="padding-left: 0px;">
                            <div class="form-inline">
                                <label>Thời gian mua: <span id="iThoiGianDat" style='font-weight: bold;'></span></label>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5" style="padding-left: 0px;">
                            <div class="form-inline">
                                <label>Thanh toán: <span id="iThanhToan" style='font-weight: bold;'></span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Thông tin giao hàng</label>
                                <table class="table table-bordered table-responsive" id="iGiaoHang">
                                    <tr>
                                        <th style="width: 120px;">Người nhận:</th>
                                        <td id="iNguoiNhan">Phạm Minh Đức</td>
                                    </tr>
                                    <tr>
                                        <th style="width: 120px;">Điện thoại:</th>
                                        <td id="iDienThoaiNhan">Phạm Minh Đức</td>
                                    </tr>
                                    <tr>
                                        <th style="width: 120px;">Địa chỉ:</th>
                                        <td id="iDiaChiNhan">Phạm Minh Đức</td>
                                    </tr>
                                    <tr>
                                        <th style="width: 120px;">Ghi chú:</th>
                                        <td id="iGhiChu">Phạm Minh Đức</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label style="display: unset;">Thông tin đơn hàng <span class="f-right">Tổng tiền: <strong id="iTongTien">159000</strong></span></label>
                                <table class="table table-bordered table-responsive" style="margin-top: 10px;">
                                    <thead id="tDonHang">
                                        <tr>
                                            <th>Số Sim</th>
                                            <th>Mạng</th>
                                            <th>Giá bán</th>
                                            <th>Danh mục</th>
                                        </tr>
                                    </thead>
                                    <tbody id="iDonHang">
                                        <tr>
                                            <td>0764545304</td>
                                            <td>Mobifone</td>
                                            <td>159000</td>
                                            <td>Chưa phân loại</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" id="listBtn">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="bg-color-white box">
    <h2>Danh sách đơn hàng</h2>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-3" style="padding-left: 20px;">
            <div class="form-inline">
                <label>Trạng thái:</label>
                <select class="form-control" id="select-status" style="height: 31px;">
                    <option value="all">Tất cả</option>
                    <option value="Đợi xác nhận mail">Đợi xác nhận mail</option>
                    <option value="Đợi xác nhận">Đợi xác nhận</option>
                    <option value="Đã xác nhận">Đã xác nhận</option>
                    <option value="Đang giao hàng">Đang giao hàng</option>
                    <option value="Đã giao hàng">Đã giao hàng</option>
                    <option value="Hủy bỏ">Hủy bỏ</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-inline">
                <label>Hình thức mua:</label>
                <select class="form-control" id="select-isonline" style="height: 31px;">
                    <option value="all">Tất cả</option>
                    <option value="online">Mua Online</option>
                    <option value="offline">Mua tại quầy</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-inline">
                <label>Thanh toán:</label>
                <select class="form-control" id="select-ispay" style="height: 31px;">
                    <option value="all">Tất cả</option>
                    <option value="dathanhtoan">Đã thanh toán</option>
                    <option value="chuathanhtoan">Chưa thanh toán</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-inline f-right">
                <label>Thời gian:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-right" id="reservation">
                    <input type="hidden" id="timeCheck" />
                </div>
            </div>
        </div>
    </div>
    <table id="bill-table" class="table table-responsive table-bordered table-hover">
        <thead>
            <tr>
                <th>STT</th>
                <th>Sim mua</th>
                <th class="text-center">Tổng tiền</th>
                <th>Thời gian</th>
                <th>Hình thức</th>
                <th>Trạng thái</th>
                <th>Thao tác</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts {
    <script src="~/Scripts/Administrator/billJS.js"></script>
}