﻿@{
    ViewBag.Title = "Quản lý nhà mạng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="modal fade" id="modal-carrier" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Thêm nhà mạng mới</h4>
            </div>
            <div class="modal-body" style="margin: 0px 15px;">
                <form id="frmUpdate" class="form-horizontal">
                    <input type="hidden" id="iId" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Tên nhà mạng</label>
                                <input type="text" class="form-control" id="iName" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Mô tả</label>
                                <textarea rows="4" class="form-control" id="iDescription"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <input id="iIsActive" type="checkbox" checked style="margin-left: 5px;" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Hình ảnh</label>
                                <input id="image-base" type="hidden" />
                                <div class="avatar-upload">
                                    <div class="avatar-edit">
                                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                                        <label for="imageUpload"></label>
                                    </div>
                                    <div class="avatar-preview">
                                        <div id="imagePreview" style="background-image: url(/Content/Images/logo-nha-mang/no-image-carrier.png);">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="add-carrier">Thêm</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="carrier-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Chi tiết nhà mạng</h4>
            </div>
            <div class="modal-body" style="margin: 0px 15px;">
                <form id="frmUpdate" class="form-horizontal">
                    <input type="hidden" id="pId" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Tên nhà mạng</label>
                                <input type="text" class="form-control" id="pName" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Mô tả</label>
                                <textarea type="text" rows="4" class="form-control" id="pDescription"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Hình ảnh</label>
                                <input id="image-base-2" type="hidden" />
                                <div class="avatar-upload">
                                    <div class="avatar-edit">
                                        <input type='file' id="imageUpload2" accept=".png, .jpg, .jpeg" />
                                        <label for="imageUpload2"></label>
                                    </div>
                                    <div class="avatar-preview">
                                        <div id="imagePreview2" style="background-image: url(/Content/Images/logo-nha-mang/no-image-carrier.png);">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="update-carrier" class="btn btn-primary f-right">Cập nhật</button>
                <button type="button" class="btn btn-default f-left" data-dismiss="modal">Đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="bg-color-white box">
    <h2>Danh sách nhà mạng</h2>
    <div class="row">
        <div class="col-xs-12" style="margin-bottom: 5px;">
            <button type="button" class="btn btn-primary btn-sm f-right" data-toggle="modal" data-target="#modal-carrier">
                <i class="fa fa-plus"></i> Thêm nhà mạng
            </button>
        </div>
    </div>
    <table id="carrier-table" class="table table-responsive table-bordered table-hover">
        <thead>
            <tr>
                <td>STT</td>
                <td>Tên nhà mạng</td>
                <td>Hình ảnh</td>
                <td>Mô tả</td>
                <td>Trạng thái</td>
                <td class="text-center">Thao tác</td>
            </tr>
        </thead>
    </table>
</div>
@section Scripts {
    <script src="~/Scripts/Administrator/carrierJS.js"></script>
}