﻿@{
    ViewBag.Title = "Quản lý danh mục";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="modal fade" id="modal-category" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Thêm danh mục mới</h4>
            </div>
            <div class="modal-body" style="margin: 0px 15px;">
                <form id="frmUpdate" class="form-horizontal">
                    <input type="hidden" id="iId" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Tên danh mục</label>
                                <input type="text" class="form-control" id="iName" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Mô tả</label>
                                <textarea rows="4"  class="form-control" id="iDescription"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <input id="iIsActive" type="checkbox" checked style="margin-left: 5px;" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="add-category">Thêm</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="category-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Chi tiết danh mục</h4>
            </div>
            <div class="modal-body" style="margin: 0px 15px;">
                <form id="frmUpdate" class="form-horizontal">
                    <input type="hidden" id="pId" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Tên danh mục</label>
                                <input type="text" class="form-control" id="pName" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Mô tả</label>
                                <textarea type="text" rows="4" class="form-control" id="pDescription"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="update-category" class="btn btn-primary f-right">Cập nhật</button>
                <button type="button" class="btn btn-default f-left" data-dismiss="modal">Đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="bg-color-white box">
    <h2>Danh sách danh mục</h2>
    <div class="row">
        <div class="col-xs-12" style="margin-bottom: 5px;">
            <button type="button" class="btn btn-primary btn-sm f-right" data-toggle="modal" data-target="#modal-category">
                <i class="fa fa-plus"></i> Thêm danh mục
            </button>
        </div>
    </div>
    <table id="category-table" class="table table-responsive table-bordered table-hover">
        <thead>
            <tr>
                <td>STT</td>
                <td>Tên danh mục</td>
                <td>Mô tả</td>
                <td>Trạng thái</td>
                <td class="text-center">Thao tác</td>
            </tr>
        </thead>
    </table>
</div>
@section Scripts {
    <script src="~/Scripts/Administrator/categoryJS.js"></script>
}