﻿@model SimStore_DucPham.ViewModels.HomeAdminModel
@using SimStore_DucPham.ViewModels
@using SimStore_DucPham.Helper
@{
    int stt = 1;
}
<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@Model.BoxNumber.OrderToday</h3>

                <p>Đơn hàng hôm nay</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="AdminManager/Bill" class="small-box-footer">Xem chi tiết <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@ConvertHelper.FormatPrice(Model.BoxNumber.SumPriceToday)</h3>

                <p>Doanh thu hôm nay</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a class="small-box-footer">-----------</a>

        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>@Model.BoxNumber.ProductSell</h3>

                <p>Số Sim đã bán</p>
            </div>
            <div class="icon">
                <i class="fa fa-paper-plane-o"></i>
            </div>
            <a class="small-box-footer">-----------</a>

        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@Model.BoxNumber.BillNonPay</h3>

                <p>Đơn hàng chưa thanh toán</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a class="small-box-footer">-----------</a>

        </div>
    </div>
    <!-- ./col -->
</div>
<!-- /.row -->
<div class="row" style="padding: 10px;">
    <div class="box box-info" style="background: #ffffff;">
        <div class="box-header with-border">
            <h3 class="box-title">Đơn hàng Online mới nhất</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table-responsive">
                <table class="table no-margin table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="width:40px;" class="text-center">STT</th>
                            <th class="text-center">Người nhận</th>
                            <th class="text-center">Địa chỉ nhận</th>
                            <th class="text-center">Thời gian</th>
                            <th class="text-center">Trạng thái</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderNews)
                        {
                            <tr>
                                <td style="width:40px;" class="text-center">@stt</td>
                                <td class="text-center">@item.FullName</td>
                                <td class="text-center">@item.Address</td>
                                <td class="text-center">@item.CreateTime</td>
                                <td class="text-center"><span class="label label-@ConvertHelper.GetClassByStatus(item.Status)">@item.Status</span></td>
                            </tr>
                            stt++;
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <a href="/AdminManager/Bill" class="btn btn-sm btn-info btn-flat pull-right">Xem tất cả</a>
        </div>
        <!-- /.box-footer -->
    </div>
</div>