﻿@{
    ViewBag.Title = "Quản lý mặt hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="modal fade" id="modal-info-product" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Chi tiết mặt hàng</h4>
            </div>
            <div class="modal-body" style="margin: 0px 15px;">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Số SIM</label>
                                <input type="text" class="form-control" readonly id="pNumber" value="" />
                                <input type="hidden" id="pId" />
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Giá bán</label>
                                <input type="text" class="form-control" id="pPrice" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Nhà mạng</label>
                                <select class="select2 form-control" style="width: 100%;" id="pCarrier" multiple="multiple"></select>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Danh mục</label>
                                <select class="select2 form-control" style="width: 100%;" id="pCategory" multiple="multiple"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Mô tả</label>
                                <textarea rows="3" class="form-control" id="pDescription"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="update-product">Cập nhật</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="modal-create-product" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Thêm mặt hàng mới</h4>
            </div>
            <div class="modal-body" style="margin: 0px 15px;">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Số SIM</label>
                                <input type="text" class="form-control" id="iNumber" value="" />
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Giá bán</label>
                                <input type="text" class="form-control" id="iPrice" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Chọn mạng</label>
                                <select class="select2 form-control" style="width: 100%;" id="iCarrier" multiple="multiple"></select>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Chọn danh mục</label>
                                <select class="select2 form-control" style="width: 100%;" id="iCategory" multiple="multiple"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Mô tả</label>
                                <textarea rows="3" class="form-control" id="iDescription"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <input id="iIsActive" type="checkbox" checked style="margin-left: 5px;" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="add-product">Thêm</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="bg-color-white box">
    <h2>Danh sách SIM</h2>
    <div class="row">
        <div class="col-xs-12" style="margin-bottom: 5px;">
            <button type="button" class="btn btn-primary btn-sm f-right" data-toggle="modal" data-target="#modal-create-product">
                <i class="fa fa-plus"></i> Thêm SIM
            </button>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-3" style="padding-left: 20px;">
            <div class="form-inline">
                <label>Trạng thái:</label>
                <select class="form-control" id="select-status" style="height: 31px;">
                    <option value="all">Tất cả</option>
                    <option value="sell">Đã bán</option>
                    <option value="nosell">Chưa bán</option>
                    <option value="active">Hoạt động</option>
                    <option value="noactive">Tắt</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-inline">
                <label>Mạng:</label>
                <select class="form-control" id="select-carrier" style="height: 31px;">
                    <option value="all">Tất cả</option>
                    <option value="viettel">Viettel</option>
                    <option value="mobifone">Mobifone</option>
                    <option value="vinaphone">Vinaphone</option>
                    <option value="vietnammobile">Vietnamobile</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-inline">
                <label>Mức giá:</label>
                <select class="form-control" id="select-price" style="height: 31px;">
                    <option value="all">Tất cả</option>
                    <option value="0-500">Dưới 500.000</option>
                    <option value="500-1000">Từ 500 đến 1 triệu</option>
                    <option value="1000-3000">Từ 1 đến 3 triệu</option>
                    <option value="3000-5000">Từ 3 đến 5 triệu</option>
                    <option value="5000-10000">Từ 5 đến 10 triệu</option>
                    <option value="10000-999999999">Trên 10 triệu</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-inline f-right">
                <label>Sắp xếp:</label>
                <select class="form-control" id="select-sapxep" style="height: 31px;">
                    <option value="random">Ngẫu nhiên</option>
                    <option value="new">Mới nhất</option>
                    <option value="price-az">Giá thấp đến cao</option>
                    <option value="price-za">Giá cao đến thấp</option>
                </select>
            </div>
        </div>
    </div>
    <table id="product-table" class="table table-responsive table-bordered table-hover">
        <thead>
            <tr>
                <th>STT</th>
                <th>Số SIM</th>
                <th>Nhà mạng</th>
                <th>Giá</th>
                <th>Thời gian nhập</th>
                <th>Trạng thái</th>
                <th class="text-center">Thao tác</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts {
    <script src="~/Scripts/Administrator/productJS.js"></script>
}