﻿@{
    ViewBag.Title = "Danh sách quyền";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="bg-color-white box">
    <h2>Danh sách các quyền</h2>
    <table class="table table-responsive table-bordered">
        <thead>
            <tr>
                <th style="width: 35px;" class="text-center">STT</th>
                <th>Tên quyền</th>
            </tr>
        </thead>
        <tbody id="content-table"></tbody>
    </table>
</div>
@section Scripts {
    <script src="~/Scripts/Administrator/roleJS.js"></script>
}