﻿@{
    /**/

    ViewBag.Title = "Danh sách thành viên";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="modal fade" id="profileModalUser">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div id="pAvatarUser" class="avatar">
                    <img src="" class="img img-circle currentImg" />
                </div>
            </div>
            <div class="modal-body" style="margin: 0px 15px;">
                <form class="form-horizontal">
                    <input type="hidden" id="pIdUser_User" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Họ và tên</label>
                                <input type="text" class="form-control" id="pFullNameUser" value="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Thời gian tạo</label>
                                <input type="text" class="form-control" id="pCreateTimeUser" readonly value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" id="pEmailUser" value="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <input type="text" class="form-control" id="pPhoneNumberUser" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Địa chỉ</label>
                                <input type="text" class="form-control" id="pAddressUser" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <input type="text" class="form-control" id="pIsActiveUser" readonly value="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Quyền</label>
                                <input type="text" class="form-control" id="pRoleIdUser" readonly value="" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="bg-color-white box">
    <h2>Danh sách thành viên</h2>
    <table id="user-table" class="table table-responsive table-bordered table-hover">
        <thead>
            <tr>
                <td>STT</td>
                <td>Họ và tên</td>
                <td>Email</td>
                <td>Thời điểm đăng ký</td>
                <td>Trạng thái</td>
                <td class="text-center">Thao tác</td>
            </tr>
        </thead>
    </table>
</div>
@section Scripts {
    <script src="~/Scripts/Administrator/userJS.js"></script>
}