﻿@model SimStore_DucPham.Models.CustomerManagerModel
@{
    ViewBag.Title = "Danh sách đơn hàng";
    Layout = "~/Views/Shared/_OrderLayout.cshtml";
    int numAddress = 1;
}
<br />
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="/customer-manager" class="list-group-item">Danh sách đơn hàng</a>
                <a href="/customer-address" class="list-group-item active">Địa chỉ giao hàng</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <h3>Danh sách địa chỉ giao hàng của bạn</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @if (Model.Address.Count == 0)
                    {
                        <h4> - Bạn chưa có địa chỉ giao hàng nào </h4>
                    }
                    else
                    {
                        <table class="table table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Người nhận</th>
                                    <th>Điện thoại</th>
                                    <th>Địa chỉ</th>
                                    <th>Loại</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Address)
                                {
                                    <tr>
                                        <td>@numAddress</td>
                                        <td>@item.FullName</td>
                                        <td>@item.PhoneNumber</td>
                                        <td>@item.Address</td>
                                        <td>
                                            @if (item.IsPay)
                                            {
                                                <label style="font-size: 12px;color: red;font-weight:bold;">Mặc định</label>
                                            }
                                            else
                                            {
                                                <a href="/AddressOrders/SetDefault?id=@item.Id" class="btn btn-xs btn-success">Chọn mặc định</a>
                                            }
                                        </td>
                                    </tr>
                                    numAddress++;
                                }
                            </tbody>
                        </table>
                    }
                    <a href="/customer-address/them" class="btn btn-sm btn-info">Thêm mới</a>
                </div>
            </div>
        </div>
    </div>
</div>