﻿@model SimStore_DucPham.Models.CustomerManagerModel
@using SimStore_DucPham.Helper
@{
    ViewBag.Title = "Danh sách đơn hàng";
    Layout = "~/Views/Shared/_OrderLayout.cshtml";
    int numBill = 1;
}
<br />

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="/customer-manager" class="list-group-item active">Danh sách đơn hàng</a>
                <a href="/customer-address" class="list-group-item">Địa chỉ giao hàng</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <h3>Danh sách đơn hàng của bạn</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @if (Model.Bills.Count == 0)
                    {
                        <h4> - Bạn chưa có đơn hàng nào</h4>
                    }
                    else
                    {
                        <table class="table table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Ngày mua</th>
                                    <th>Tổng tiền</th>
                                    <th>Trạng thái</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Bills)
                                {
                                    <tr>
                                        <td>@numBill</td>
                                        <td>@item.CreateTime</td>
                                        <td>@ConvertHelper.FormatPrice(item.SumMoney)</td>
                                        <td>
                                            <span class='label label-@ConvertHelper.GetClassByStatus(item.Status)'>@item.Status</span>
                                        </td>
                                        <td>
                                            <button class="btn btn-xs btn-info" onclick=GetDetail('@item.Id')>Chi tiết</button>
                                        </td>
                                    </tr>
                                    numBill++;
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="info-bill" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Chi tiết hóa đơn</h4>
            </div>
            <div class="modal-body" style="margin: 0px 15px;">
                <form class="form-horizontal">
                    <div class="row line-row">
                        <div class="col-md-6" style="padding-left: 0px;">
                            <div class="form-inline">
                                <label>Loại đơn hàng: <span id="iLoaiDonHang" style='font-weight: bold;'></span></label>
                                <input type="hidden" id="iBillId" />
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5" style="padding-left: 0px;">
                            <div class="form-inline">
                                <label>Trạng thái: <span id="iTrangThai" style='font-weight: bold;'></span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row line-row">
                        <div class="col-md-6" style="padding-left: 0px;">
                            <div class="form-inline">
                                <label>Người mua: <span id="iNguoiDat" style='font-weight: bold;'></span></label>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5" style="padding-left: 0px;" id="shDienThoai">
                            <div class="form-inline">
                                <label>Điện thoại: <span id="iDienThoai" style='font-weight: bold;'></span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row line-row">
                        <div class="col-md-6" style="padding-left: 0px;">
                            <div class="form-inline">
                                <label>Thời gian mua: <span id="iThoiGianDat" style='font-weight: bold;'></span></label>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5" style="padding-left: 0px;">
                            <div class="form-inline">
                                <label>Thanh toán: <span id="iThanhToan" style='font-weight: bold;'></span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Thông tin giao hàng</label>
                                <table class="table table-bordered table-responsive" id="iGiaoHang">
                                    <tr>
                                        <th style="width: 120px;">Người nhận:</th>
                                        <td id="iNguoiNhan">Phạm Minh Đức</td>
                                    </tr>
                                    <tr>
                                        <th style="width: 120px;">Điện thoại:</th>
                                        <td id="iDienThoaiNhan">Phạm Minh Đức</td>
                                    </tr>
                                    <tr>
                                        <th style="width: 120px;">Địa chỉ:</th>
                                        <td id="iDiaChiNhan">Phạm Minh Đức</td>
                                    </tr>
                                    <tr>
                                        <th style="width: 120px;">Ghi chú:</th>
                                        <td id="iGhiChu">Phạm Minh Đức</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label style="display: unset;">Thông tin đơn hàng <span class="f-right">Tổng tiền: <strong id="iTongTien">159000</strong></span></label>
                                <table class="table table-bordered table-responsive" style="margin-top: 10px;">
                                    <thead id="tDonHang">
                                        <tr>
                                            <th>Số Sim</th>
                                            <th>Mạng</th>
                                            <th>Giá bán</th>
                                            <th>Danh mục</th>
                                        </tr>
                                    </thead>
                                    <tbody id="iDonHang">
                                        <tr>
                                            <td>0764545304</td>
                                            <td>Mobifone</td>
                                            <td>159000</td>
                                            <td>Chưa phân loại</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" id="listBtn">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
@section scripts{
    <script>
        function HuyDon(billId) {
            $.confirm({
                title: "Xác nhận hủy bỏ đơn hàng này?",
                content: "<div class='form-group'><label>Lý do hủy đơn</label>" +
                    "<textarea id='pLyDoHuyDon' rows='3' class='form-control'></textarea></div>",
                buttons: {
                    'Hủy bỏ': function () {
                        return;
                    },
                    'Đồng ý': function () {
                        var lyDoHuyDon = $('#pLyDoHuyDon').val();
                        if (lyDoHuyDon == '' || !lyDoHuyDon) {
                            $.notify("Lý do không được rỗng", "error");
                            return;
                        }

                        $.ajax({
                            url: '/Customer/CanceledBill',
                            data: { billId: billId, reasonCanceled: lyDoHuyDon },
                            type: 'post',
                            dataType: 'json',
                            success: function (res) {
                                var data = res.data;
                                if (data.Status) {
                                    $('#info-bill').modal('hide');
                                    $.notify(data.Message, "success");
                                    location.replace('/customer-manager');
                                }
                                else {
                                    $.notify(data.Message, "error");
                                }
                            },
                            error: function () {
                                $.notify("Lỗi không xác định", "error");
                            }
                        });
                    }
                }
            });
        }
        function GetDetail(billId) {
            $('#shDienThoai').show();
            var htmlBtn = "<button type='button' class='btn btn-default btn-sm pull-left' data-dismiss='modal'>Đóng</button>";
            $.ajax({
                url: '/Customer/GetInfoBill',
                data: { billId: billId },
                type: 'get',
                dataType: 'json',
                success: function (res) {
                    var data = res.data;
                    $('#iBillId').val(data.Id);
                    $('#iLoaiDonHang').html(data.IsOnline ? "Đơn hàng Online" : "Mua hàng tại quầy");
                    $('#iTrangThai').html(data.Status);
                    $('#iNguoiDat').html(data.CreateUserName);
                    $('#iThoiGianDat').html(data.CreateTime);
                    $('#iDienThoai').html(data.CreatePhoneNumber);
                    $('#iThanhToan').html(data.IsPay ? "Đã thanh toán" : "Chưa thanh toán");
                    $('#iNguoiNhan').html(data.AddressOrder.FullName);
                    $('#iDienThoaiNhan').html(data.AddressOrder.PhoneNumber);
                    $('#iDiaChiNhan').html(data.AddressOrder.Address);
                    $('#iGhiChu').html(data.Note);
                    $('#iTongTien').html(formatPrice(data.SumMoney));
                    var html = '';
                    $.each(data.DetailBills, function (index, item) {
                        html += "<tr><td>" + item.ProductNumber + "</td><td>" + item.ProductCarrierName + "</td><td>" + formatPrice(item.ProductPrice) + "</td><td>" + item.ProductCategoryName + "</td></tr>";
                    });
                    $('#iDonHang').html(html);
                    if (data.CreateUserName == 'DefaultCustomer' && data.IsOnline) {
                        $('#iNguoiDat').html('Mua nhanh không đăng nhập');
                        $('#shDienThoai').hide();
                    }
                    if (data.Status == 'Đợi xác nhận') {
                        htmlBtn += "<button type='button' class='btn btn-danger btn-sm pull-left' onclick=HuyDon('" + data.Id + "')>Hủy Đơn Hàng</button>";
                    }
                    else if (data.Status == 'Hủy bỏ') {
                        htmlBtn += "<button type='button' class='btn btn-danger btn-sm' onclick=XemLyDo('" + data.Id + "')>Xem lý do</button>";
                    }
                    $('#listBtn').html(htmlBtn);
                    $('#info-bill').modal('show');
                },
                error: function () {
                    $('#errorLoadModal').modal('show');
                }
            });
        }
        function XemLyDo(billId) {
            $.ajax({
                url: '/Customer/GetReasonCanceledOrder',
                data: { billId: billId },
                type: 'get',
                dataType: 'json',
                success: function (res) {
                    var data = res.data;
                    if (data.Status) {
                        $.alert({
                            title: 'Lý do hủy đơn:',
                            content: data.Message
                        });
                    }
                    else {
                        $.notify(data.Message, "error");
                    }
                },
                error: function () {
                    $.notify("Lỗi không xác định", "error");
                }
            });
        }
    </script>
}