﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - @System.Configuration.ConfigurationManager.AppSettings["SiteName"]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-language" content="vi" />
    <meta name="description" content="@ViewBag.Title | @System.Configuration.ConfigurationManager.AppSettings["Description"]" />
    <meta name="robots" content="noodp,index,follow" />
    <meta name="revisit-after" content="1 days" />
    <meta property="og:title" content="@ViewBag.Title - @System.Configuration.ConfigurationManager.AppSettings["SiteName"]">
    <meta property="og:type" content="article">
    <meta property="og:description" content="@ViewBag.Title | @System.Configuration.ConfigurationManager.AppSettings["Description"]">
    <meta property="og:image" content="@System.Configuration.ConfigurationManager.AppSettings["Thumbnail"]">
    <meta property="og:url" content="@System.Configuration.ConfigurationManager.AppSettings["Url"]">
    <link rel="stylesheet" type="text/css" href="~/Plugins/Template2/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/jquery-confirm.min.css">
    <link rel="stylesheet" href="~/Content/PagedList.css">
</head>
<body>
    <div id="loading" style="display:none">
        <img src="/Content/Images/gif/loading.gif" alt="Loading..." />
    </div>

    <div class="container" style="padding: 0px;background-color: #fff;box-shadow: 0px 0px 1px 1px #9d8888;">
        @Html.Partial("_HomeHeader")
        <div class="row" style="margin: 2px 0px;">
            @Html.Partial("_PartialModalCart")
            @{
                Html.RenderAction("_HomeSliderLeft", "Home");
            }
            <div class="col-md-8" style="padding: 0px;">
                @*@Html.Partial("_HomeFindbox")*@
                @RenderBody()
            </div>
            @Html.Partial("_HomeSliderRight")
        </div>
        @Html.Partial("_HomeFooter")
    </div>
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Plugins/notify/notify.js"></script>
    <script src="~/Scripts/jquery-confirm.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/shareJS.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>