﻿@using SimStore_DucPham.Models
@using SimStore_DucPham.Helper
@{
    ApplicationUser user = (ApplicationUser)Session[KeyHelper.Session_Login];
}

<header class="main-header">
    <!-- Logo -->
    <a href="/AdminManager/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b><i class="fa fa-bar-chart"></i></b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Admin</b>Manager</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="@user.Avatar" class="user-image" alt="User Image">
                        <span class="hidden-xs">@user.FullName</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="@user.Avatar" class="img-circle" alt="User Image">

                            <p>
                                @user.FullName - Quản trị viên
                            </p>
                        </li>
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <button onclick="GetDetailNew('@user.Id')" class="btn btn-default btn-flat">Trang cá nhân</button>
                            </div>
                            <div class="pull-right">
                                @using (Html.BeginForm("LogOffAdmin", "Account", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="submit" class="btn btn-default btn-flat" value="Đăng xuất" />
                                }
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- =============================================== -->
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="@user.Avatar" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@user.FullName</p>
                <a><i class="fa fa-circle text-success"></i> Quản trị viên</a>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">DANH MỤC CHỨC NĂNG</li>
            <li>
                <a href="/AdminManager/">
                    <i class="fa fa-bar-chart"></i> <span>Biểu đồ sơ lượt</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-green">New</small>
                    </span>
                </a>
            </li>
            <li><a href="/AdminManager/Bill"><i class="fa fa-cubes"></i> Quản lý đơn hàng</a></li>
            <li><a href="/AdminManager/Product"><i class="fa fa-th-large"></i> Quản lý mặt hàng</a></li>
            <li><a href="/AdminManager/Carrier"><i class="fa fa-globe"></i> Quản lý nhà mạng</a></li>
            <li><a href="/AdminManager/Category"><i class="fa fa-bookmark"></i> Quản lý danh mục</a></li>
            <li><a href="/AdminManager/User"><i class="fa fa-users"></i> Quản lí thành viên</a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-cogs"></i>
                    <span>Cài đặt hệ thống</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/AdminManager/Role"><i class="fa fa-shield"></i> Danh sách quyền</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>