﻿<div class="row" id="footer1" style="margin: 5px 0px 0px 0px;background: #f3f3f3;width: 100%;padding-bottom: 10px;padding-top: 10px;">
    <div class="footership">
        <div class="col-md-4">
            <img alt="giao hàng" class="img-responsive img-fluid" src="~/Plugins/Template2/image/shipper.gif"><span style="font-size:20px;"><strong>Giao hàng nhanh</strong></span>
            <br>Thời gian giao hàng:
            <br>• Khu vực nội thành @System.Configuration.ConfigurationManager.AppSettings["City"]: 24h
            <br>• Khu vực ngoại thành @System.Configuration.ConfigurationManager.AppSettings["City"]: 36h
            <br>• Các khu vực tỉnh/thành phố còn lại: 4 - 5 ngày (không tính chủ nhật và ngày nghỉ lễ)
        </div>
        <div class="col-md-4">
            <div>
                <img alt="thanh toán" class="img-responsive img-fluid" src="~/Plugins/Template2/image/pay.gif"><span style="font-size:20px;"><strong>Thanh toán tiện</strong></span>
                <br>Tùy chọn thanh toán tiền mặt, chuyển khoản, thanh toán qua thẻ hoặc Internet banking
            </div>
        </div>
        <div class="col-md-4">
            <img alt="mạng lưới" class="img-responsive img-fluid" src="~/Plugins/Template2/image/map.gif"><span style="font-size:20px;"><strong>Mạng lưới rộng</strong></span>
            <br>Mạng lưới di dộng các mạng, Viettel, Vinaphone, Mobifone phủ sóng khắp cả nước.
        </div>
    </div>
</div>
<div class="news" style="text-align: center;">
    <b>© @System.Configuration.ConfigurationManager.AppSettings["SiteName"] - Hệ thống phân phối Sim Đẹp Online lớn nhất Việt Nam!</b>
    <div class="mobile-hide">
        <b><br> </b>Trang web chuyên về số đẹp giá rẻ - Hệ thống phân phối Sim số đẹp, sim năm sinh số 1 Việt Nam
        <br>Địa chỉ: @System.Configuration.ConfigurationManager.AppSettings["Address"]
        <br> <span style="color: rgb(255, 102, 0);"><strong>Giao sim miễn phí tận nhà trên toàn quốc.</strong></span>
    </div>
</div>