﻿@using SimStore_DucPham.Models
@using SimStore_DucPham.Helper
@Html.Partial("_PartialModalCart")
<div class="row">
    <div class="col-md-12">
        <img alt="images-sim-so-dep" src="~/Plugins/Template2/image/Banner.png" style="width:100%;" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="menu menu-home" style="margin:0;padding:0;border-top: 1px solid #56b2e6;">
            <div class="responsive-menu">
                <div class="menu-mang">
                </div>
            </div>
            <ul>
                <li><a href='/'>Trang chủ </a></li>
                <li><a href="/sim-phong-thuy" style="color:yellow;"><img src="~/Plugins/Template2/image/new2.gif" />Sim phong thủy</a></li>
                <li><a style="cursor:pointer;" id="get-carts"><span class="glyphicon glyphicon-shopping-cart"></span> GIỎ<div id="sum-cart" class="badge-cart">@{Html.RenderAction("SumProductCart", "Cart");}</div></a></li>

                @{
                    if (Session[KeyHelper.Session_Login] == null)
                    {
                        <li><a href="/dang-nhap"><span class="glyphicon glyphicon-log-in"></span>&ensp;Đăng nhập</a></li>
                    }
                    else
                    {
                        ApplicationUser user = (ApplicationUser)Session[KeyHelper.Session_Login];
                        <li>
                            <div class="dropdown">
                                <a class="dropdown-toggle" style="cursor:pointer;" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user"></span>  <span>@user.FullName</span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu menu-profile-duc" style="">
                                    <li><a style="cursor:pointer;" onclick=GeInfoUser('@user.Id')>Thông tin cá nhân</a></li>
                                    <li><a href="/customer-manager">Quản lý đặt hàng</a></li>
                                    <li>
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            <input type="submit" class="log-off-customer" value="Đăng xuất" />
                                        }
                                    </li>
                                </ul>
                            </div>
                        </li>

                    }

                }
            </ul>
            @if (Session[KeyHelper.Session_Login] != null)
            {
                <div class="modal fade" id="profileModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header text-center">
                                <div id="pAvatar" class="avatar">
                                    <img src="" class="img img-circle currentImg" />
                                </div>
                            </div>
                            <div class="modal-body" style="margin: 0px 15px;">
                                <form id="" class="form-horizontal">
                                    <input type="hidden" id="pId" />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Họ và tên</label>
                                                <input type="text" class="form-control" id="pFullName" value="" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Thời gian tạo</label>
                                                <input type="text" class="form-control" id="pCreateTime" readonly value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="email" class="form-control" id="pEmail" value="" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Số điện thoại</label>
                                                <input type="text" class="form-control" id="pPhoneNumber" value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>Địa chỉ</label>
                                                <input type="text" class="form-control" id="pAddress" value="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Trạng thái</label>
                                                <input type="text" class="form-control" id="pIsActive" readonly value="" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Quyền</label>
                                                <input type="text" class="form-control" id="pRoleId" readonly value="" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="update-profile" class="btn btn-primary btn-update">Cập nhật</button>
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <script>
                    function GeInfoUser(userId) {
                        $.ajax({
                            url: '/APICustomer/GetInfoUser',
                            data: { userId: userId },
                            type: 'get',
                            dataType: 'json',
                            success: function (res) {
                                var data = res.data;
                                $('#pId').val(data.Id);
                                $('#pAvatar').html(AddAvatar(data.Avatar));
                                $('#pFullName').val(data.FullName);
                                $('#pCreateTime').val(data.CreateTime);
                                $('#pEmail').val(data.Email);
                                $('#pPhoneNumber').val(data.PhoneNumber);
                                $('#pAddress').val(data.Address);
                                $('#pIsActive').val(ConvertActive(data.IsActive));
                                $('#pRoleId').val(ConvertRole(data.RoleId));
                                $('#profileModal').modal('show');
                            },
                            error: function () {
                                $('#errorLoadModal').modal('show');
                            }
                        });
                    }
                    function UpdateProfile() {
                        var userId = $('#pId').val();
                        var fullName = $('#pFullName').val();
                        var email = $('#pEmail').val();
                        var phoneNumber = $('#pPhoneNumber').val();
                        var address = $('#pAddress').val();
                        $.ajax({
                            url: '/APICustomer/UpdateProfile',
                            data: {
                                userId: userId,
                                fullName: fullName,
                                email: email,
                                phoneNumber: phoneNumber,
                                address: address
                            },
                            type: 'post',
                            dataType: 'json',
                            success: function (res) {
                                var data = res.data;
                                if (data.Status) {
                                    $('#profileModal').modal('hide');
                                    $.notify(data.Message, "success");
                                }
                                else {
                                    $.notify(data.Message, "error");
                                }
                            },
                            error: function () {
                                $.notify("Lỗi không xác định", "error");
                            }
                        });
                    }
                </script>
            }
        </div>
    </div>
</div>