﻿<div id="main_box">
    <div class="h none" style="text-align: center;font-size: 20px;">
        <h2 style="font-size: 17px;">Hệ Thống SIM SỐ ĐẸP - Uy Tín Giá Rẻ Nhất</h2>
    </div>
    <div>
        <table style=" width: 100%">
            <tbody style="text-align: left; word-spacing: 2px; line-height: 150%;">
                <tr>
                    <td class="tim-sim-so" valign="middle">
                        <div id="soption2" style="text-align: center;">
                            <form action="/tim-sim" method="get" onsubmit="return CheckEmptyKeySearch()" >
                                <div id="box_tim2">
                                    <div id="box_tim">
                                        <div style="margin:auto; padding: 10px;">
                                            <input type="text" placeholder="Nhập số cần tìm" name="number" class="input-search" id="KeySearch" value="">
                                            <button  type="submit" class="nuttim"> Tìm Sim</button>
                                            <ul class="huongdan" style=" padding-left: 15px; ">
                                                <li>Tìm sim có số <strong> 6789</strong> bạn hãy gõ <strong>6789</strong></li>
                                                <li>Tìm sim có đầu <strong>090 </strong> và có đuôi <strong>8888</strong> hãy gõ <strong>090<font size="2">*</font>8888</strong></li>
                                                <li>Tìm sim bắt đầu bằng <strong>0914</strong> đuôi bất kỳ, hãy gõ: <strong>0914<font size="2">*</font></strong></li>
                                                <li>Tìm sim bắt đầu bất kỳ đuôi bằng <strong>0914</strong> hãy gõ: <strong><font size="2">*</font>0914</strong></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>