﻿<div class="col-md-2" style="padding: 0px 0px 0px 2px;">
    <div>
        <div class="box">
            <h3>Chăm Sóc Khách Hàng</h3>
        </div>
        <div class="box_c" style="padding: 17px 0px;">
            <div id="cke_pastebin" style="text-align: -webkit-center;">
                <div class="">
                    <h3 class="hotline-right" style="padding-left: 0px !important;">
                        <a href="tel:@System.Configuration.ConfigurationManager.AppSettings["Phone"]" class="">
                            <img class="img-hotline phone-div" src="https://simthanglong.vn/images/phone0.png"> @System.Configuration.ConfigurationManager.AppSettings["PhoneNumber"]
                        </a>
                    </h3>
                    <h3 class="hotline-right" style="padding-left: 0px !important;">
                        <a href="http://zalo.me/@System.Configuration.ConfigurationManager.AppSettings["Phone"]" style="background: #2196F3;">
                            <img class="img-hotline" src="https://simthanglong.vn/images/zalo.png">&emsp;Chat Zalo
                        </a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div>
        <div class="box" style="text-align:center">
            <h3>Đơn hàng mới</h3>
        </div>
        <ul id="don-hang-moi">
            <marquee direction="up" scrolldelay="1" scrollamount="3" onmouseout="this.start()" onmouseover="this.stop()" style="width: 100%;height: 400px;">
                @{ Html.RenderAction("_HomeSliderOrder", "Home");}
            </marquee>
        </ul>
    </div>
</div>