﻿@model SimStore_DucPham.Models.SliderLeftModel
@using SimStore_DucPham.Models
@using SimStore_DucPham.ViewModels
@{
    List<CarrierModel> carriers = Model.Carriers;
    List<CategoryModel> categories = Model.Categories;
    List<PriceProductViewModel> priceProducts = Model.PriceProducts;
}
<div class="col-md-2" style="padding: 0px 2px 0px 0px;">

    <div>
        <div class="box">
            <h2>Chọn sim theo mạng</h2>
        </div>
        <div class="box_c">
            <ul id="navmenu">
                @{
                    foreach (CarrierModel carrier in carriers)
                    {
                        <li><a href="/sim-theo-mang/@carrier.Id">@carrier.Name<span class="label label-primary pull-right" style="margin-top: 9px;">@carrier.CountProduct</span></a></li>
                    }
                }
            </ul>
        </div>
    </div>
    <br />
    <div>
        <div class="box">
            <h2>Chọn theo giá</h2>
        </div>
        <div class="box_c">
            <ul id="navmenu">
                @{
                    foreach (PriceProductViewModel priceProduct in priceProducts)
                    {
                        <li><a href="/sim-theo-gia/@priceProduct.Id">@priceProduct.Name<span class="label label-primary pull-right" style="margin-top: 9px;">@priceProduct.CountProduct</span></a></li>
                    }
                }
            </ul>
        </div>
    </div>
    <br />
    <div>
        <div class="box">
            <h2>Chọn theo loại</h2>
        </div>
        <div class="box_c">
            <ul id="navmenu">
                @{
                    foreach (CategoryModel category in categories)
                    {
                        <li><a href="/sim-theo-loai/@category.Id">@category.Name<span class="label label-primary pull-right" style="margin-top: 9px;">@category.CountProduct</span></a></li>
                    }
                }
            </ul>
        </div>
    </div>
    <br />
    <div>
        <a href="/tat-ca-sim">
            <div class="box">
                <h2>
                    Xem tất cả
                </h2>
            </div>
        </a>
    </div>
    <br />
    @*<div class="nonex2">
        <div class="box_c" style="text-align: center;">
            <br /><br />
            <span>TÌM SIM THEO NGÀY SINH</span>
            <span class="ntn">Ngày / Tháng / Năm</span>
            <form>
                <input type="hidden" value="search" name="act" />
                <select name="Date_Day">
                    <option value="01">01</option>
                </select>
                <select name="Date_Month">
                    <option value="01">01</option>
                </select>
                <select name="Date_Year">
                    <option value="1972">1972</option>
                </select>
                <br />
                <button class="tim-ntns" type="button">Tìm Kiếm</button>
            </form>
            <br />
            <br />
        </div>
    </div>
    <br />*@
</div>