﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sim VIP</title>
    <!-- Icon css link -->
    <link href="~/Plugins/Template/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Plugins/Template/vendors/linearicons/style.css" rel="stylesheet">
    <link href="~/Plugins/Template/vendors/flat-icon/flaticon.css" rel="stylesheet">
    <link href="~/Plugins/Template/vendors/stroke-icon/style.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Plugins/Template/css/bootstrap.min.css" rel="stylesheet">

    <!-- Rev slider css -->
    <link href="~/Plugins/Template/vendors/revolution/css/settings.css" rel="stylesheet">
    <link href="~/Plugins/Template/vendors/revolution/css/layers.css" rel="stylesheet">
    <link href="~/Plugins/Template/vendors/revolution/css/navigation.css" rel="stylesheet">
    <link href="~/Plugins/Template/vendors/animate-css/animate.css" rel="stylesheet">

    <!-- Extra plugin css -->
    <link href="~/Plugins/Template/vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Plugins/Template/vendors/magnifc-popup/magnific-popup.css" rel="stylesheet">
    <link href="~/Plugins/Template/vendors/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="~/Plugins/Template/vendors/nice-select/css/nice-select.css" rel="stylesheet">

    <link href="~/Plugins/Template/css/style.css" rel="stylesheet">
    <link href="~/Plugins/Template/css/responsive.css" rel="stylesheet">
</head>
<body>
    <!--================Main Header Area =================-->
    <header class="main_header_area">
        <div class="top_header_area row m0">
            <div class="container">
                <div class="float-left">
                    <a href="tell:+84764545304"><i class="fa fa-phone" aria-hidden="true"></i> + (84) 764545304</a>
                    <a href="mainto:pmduc97@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> pmduc97@gmail.com</a>
                </div>
                <div class="float-right">
                    <ul class="h_social list_style">
                        <li class="shop_cart"><a href="#"><i class="lnr lnr-cart"></i> 3</a></li>
                    </ul>
                    <ul class="h_search list_style">
                        <li>Khách</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main_menu_area">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="my_toggle_menu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li><a href="menu.html">Trang Chủ</a></li>
                            <li class="dropdown submenu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sim năm sinh</a>
                                <ul class="dropdown-menu">
                                    <li><a href="index.html">Sim năm sinh 1997</a></li>
                                    <li><a href="index-2.html">Sim năm sinh 1997</a></li>
                                    <li><a href="index-3.html">Sim năm sinh 1997</a></li>
                                    <li><a href="index-4.html">Sim năm sinh 1997</a></li>
                                    <li><a href="index-5.html">Sim năm sinh 1997</a></li>
                                </ul>
                            </li>
                            <li class="dropdown submenu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sim theo giá</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Dưới 500k</a></li>
                                    <li><a href="#">Dưới 500k</a></li>
                                    <li><a href="#">Dưới 500k</a></li>
                                    <li><a href="#">Dưới 500k</a></li>
                                    <li><a href="#">Dưới 500k</a></li>
                                    <li><a href="#">Dưới 500k</a></li>
                                </ul>
                            </li>
                            <li><a href="cake.html">Sim phong thủy</a></li>
                            <li><a href="contact.html">Thanh toán</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!--================End Main Header Area =================-->
    <!--================End Main Header Area =================-->
    @*<section class="banner_area">
            <div class="container">
                <div class="banner_text" style="height: 100px;"></div>
            </div>
        </section>*@
    <!--================End Main Header Area =================-->
    <!--================Product Area =================-->
    <!--================Product Area =================-->
    <section class="product_area p_20">
        <div class="container">
            @RenderBody()
        </div>
    </section>
    <!--================End Product Area =================-->
    <!--================Footer Area =================-->
    <footer class="footer_area">
        <div class="footer_widgets">
            <div class="container">
                <div class="row footer_wd_inner">
                    <div class="col-lg-3 col-6">
                        <aside class="f_widget f_about_widget">
                            <img src="~/Plugins/Template/img/footer-logo.png" alt="">
                            <p>Cửa hàng sim số chất lượng giá rẻ nhất</p>
                            <ul class="nav">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            </ul>
                        </aside>
                    </div>
                    <div class="col-lg-3 col-6">
                        <aside class="f_widget f_link_widget">
                            <div class="f_title">
                                <h3>Liên kết nhanh</h3>
                            </div>
                            <ul class="list_style">
                                <li><a href="#">Trang cá nhân</a></li>
                                <li><a href="#">Giỏ hàng</a></li>
                                <li><a href="#">Chính sách</a></li>
                                <li><a href="#">Tin tức</a></li>
                            </ul>
                        </aside>
                    </div>
                    <div class="col-lg-3 col-6">
                        <aside class="f_widget f_link_widget">
                            <div class="f_title">
                                <h3>Thời gian làm việc</h3>
                            </div>
                            <ul class="list_style">
                                <li><a href="#">Thứ 2 - 7</a></li>
                                <li><a href="#">Sáng: 8 - 11h</a></li>
                                <li><a href="#">Chiều: 13 - 17h</a></li>
                            </ul>
                        </aside>
                    </div>
                    <div class="col-lg-3 col-6">
                        <aside class="f_widget f_contact_widget">
                            <div class="f_title">
                                <h3>Liên hệ</h3>
                            </div>
                            <h4>(+84) 764545304</h4>
                            <p>Phạm Minh Đức <br />63 Phan Đăng Lưu, Quận Hải Châu, Đà Nẵng</p>
                            <h5>pmduc97@gmail.com</h5>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Plugins/Template/js/jquery-3.2.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Plugins/Template/js/popper.min.js"></script>
    <script src="~/Plugins/Template/js/bootstrap.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>