﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - AdminManager</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/AdminLTE/css")
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=vietnamese" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Plugins/datatables/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Plugins/datatables/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Plugins/select2/dist/css/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/Plugins/daterangepicker/daterangepicker.css" />
    <style>
        #changePassModel {
            z-index: 1000000;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        @Html.Partial("_headerPartialAdmin")
        @Html.Partial("_loadingAjaxPartial")
        @Html.Partial("_profileModalPartial")
        @Html.Partial("_PartialChangePassModal")
        @Html.Partial("_errorLoadModalPartial")

        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                @RenderBody()
                <!-- /.box -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Bản quyền &copy; @DateTime.Now.Year . <a href="https://fb.com/pmduc97">Phạm Minh Đức</a></strong>
        </footer>
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    @Scripts.Render("~/AdminLTE/js")
    <script type="text/javascript" src="~/Plugins/daterangepicker/moment.min.js"></script>
    <script type="text/javascript" src="~/Plugins/daterangepicker/daterangepicker.min.js"></script>
    <script src="~/Plugins/select2/dist/js/select2.full.js"></script>
    <script src="~/Plugins/notify/notify.js"></script>
    <script src="~/Scripts/jquery-confirm.min.js"></script>

    <script type="text/javascript" charset="utf8" src="~/Plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidebar-menu').tree()
        })
        function GetDetailNew(userId) {
            $.ajax({
                url: '/AdminManager/GetInfoUser',
                data: { userId: userId },
                type: 'get',
                dataType: 'json',
                success: function (res) {
                    var data = res.data;
                    $('#pIdUser').val(data.Id);
                    $('#pAvatar').html(AddAvatar(data.Avatar));
                    $('#pFullName').val(data.FullName);
                    $('#pCreateTime').val(data.CreateTime);
                    $('#pEmail').val(data.Email);
                    $('#pPhoneNumber').val(data.PhoneNumber);
                    $('#pAddress').val(data.Address);
                    $('#pIsActive').val(ConvertActive(data.IsActive));
                    $('#pRoleId').val(ConvertRole(data.RoleId));
                    $('#profileModal').modal('show');
                },
                error: function () {
                    $('#errorLoadModal').modal('show');
                }
            });
        }
        function ChangePassword() {
            var OldPassword = $('#OldPassword').val();
            var NewPassword = $('#NewPassword').val();
            var ConfirmPassword = $('#ConfirmPassword').val();
            if (NewPassword != ConfirmPassword) {
                $.notify("Xác nhận mật khẩu không khớp", "error");
                return false;
            }
            var dataPost = {
                OldPassword: OldPassword,
                NewPassword: NewPassword,
                ConfirmPassword: ConfirmPassword
            };
            $.ajax({
                url: '/Manage/ChangePasswordIn',
                data: { changePasswordModel: JSON.stringify(dataPost) },
                type: 'post',
                dataType: 'json',
                success: function (res) {
                    var data = res.data;
                    if (data.Status) {
                        $('#OldPassword').val("");
                        $('#NewPassword').val("");
                        $('#ConfirmPassword').val("");
                        $('#changePassModel').modal('hide');
                        $.notify(data.Message, "success");
                    }
                    else {
                        $.notify(data.Message, "error");
                    }
                },
                error: function () {
                    $('#errorLoadModal').modal('show');
                }
            });
        }
        function UpdateProfile() {
            var userId = $('#pIdUser').val();
            var fullName = $('#pFullName').val();
            var email = $('#pEmail').val();
            var phoneNumber = $('#pPhoneNumber').val();
            var address = $('#pAddress').val();
            $.ajax({
                url: '/AdminManager/UpdateProfile',
                data: {
                    userId: userId,
                    fullName: fullName,
                    email: email,
                    phoneNumber: phoneNumber,
                    address: address
                },
                type: 'post',
                dataType: 'json',
                success: function (res) {
                    var data = res.data;
                    if (data.Status) {
                        $('#profileModal').modal('hide');
                        $.notify(data.Message, "success");
                    }
                    else {
                        $.notify(data.Message, "error");
                    }
                },
                error: function () {
                    $.notify("Lỗi không xác định", "error");
                }
            });
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>