﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - @System.Configuration.ConfigurationManager.AppSettings["SiteName"]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-language" content="vi" />
    <meta name="description" content="@ViewBag.Title | @System.Configuration.ConfigurationManager.AppSettings["Description"]" />
    <meta name="robots" content="noodp,index,follow" />
    <meta name="revisit-after" content="1 days" />
    <meta property="og:title" content="@ViewBag.Title - @System.Configuration.ConfigurationManager.AppSettings["SiteName"]">
    <meta property="og:type" content="article">
    <meta property="og:description" content="@ViewBag.Title | @System.Configuration.ConfigurationManager.AppSettings["Description"]">
    <meta property="og:image" content="@System.Configuration.ConfigurationManager.AppSettings["Thumbnail"]">
    <meta property="og:url" content="@Request.Url.ToString()">
    <link rel="stylesheet" type="text/css" href="~/Plugins/Template2/style.css">
    <link rel="stylesheet" type="text/css" href="~/Plugins/datatables/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Plugins/datatables/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/jquery-confirm.min.css">
    <link rel="stylesheet" href="~/Content/PagedList.css">
</head>
<body>
    <div id="loading" style="display:none">
        <img src="/Content/Images/gif/loading.gif" alt="Loading..." />
    </div>

    <div class="container" style="padding: 0px;background-color: #fff;box-shadow: 0px 0px 1px 1px #9d8888;">
        @Html.Partial("_HomeHeader")
        @Html.Partial("_errorLoadModalPartial")
        <div class="row" style="margin: 2px 0px;">
            @RenderBody()
        </div>
        @Html.Partial("_HomeFooter")
    </div>
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Plugins/notify/notify.js"></script>
    <script src="~/Scripts/jquery-confirm.min.js"></script>
    <script type="text/javascript" charset="utf8" src="~/Plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/shareJS.js"></script>
    <script src="~/Scripts/Customer/order.js"></script>
    <script src="~/Scripts/Customer/address.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>