﻿<div class="modal fade" id="cartModal" style="display: none;z-index:999999">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Chi tiết giỏ hàng</h4>
            </div>
            <div id="body-cart" class="modal-body" style="margin: 0px 15px;">
                @*@{ Html.RenderAction("GetCartToPartial", "Cart");}*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Tiếp tục mua hàng</button>
                <button type="button" class="btn btn-info btn-sm" id="star-buy-cart">Tiến hành đặt hàng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>