﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - @System.Configuration.ConfigurationManager.AppSettings["SiteName"]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-language" content="vi" />
    <meta name="description" content="@ViewBag.Title | @System.Configuration.ConfigurationManager.AppSettings["Description"]" />
    <meta name="robots" content="noodp,index,follow" />
    <meta name="revisit-after" content="1 days" />
    <meta property="og:title" content="@ViewBag.Title - @System.Configuration.ConfigurationManager.AppSettings["SiteName"]">
    <meta property="og:type" content="article">
    <meta property="og:description" content="@ViewBag.Title | @System.Configuration.ConfigurationManager.AppSettings["Description"]">
    <meta property="og:image" content="@System.Configuration.ConfigurationManager.AppSettings["Thumbnail"]">
    <meta property="og:url" content="@System.Configuration.ConfigurationManager.AppSettings["Url"]">
    <link rel="stylesheet" type="text/css" href="~/Plugins/Template2/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/jquery-confirm.min.css">
    <link rel="stylesheet" href="~/Content/PagedList.css">
    <style>
        input[type=checkbox], input[type=radio] {
            margin: 0px 0 0 !important;
        }
        .corner-top-left {
            left: 0;
            top: 0;
        }
        .corner-bottom-left {
            left: 0;
            bottom: 0;
        }
        .corner-top-right {
            right: 0;
            top: 0;
        }
        .corner-bottom-right {
            right: 0;
            bottom: 0;
        }
        .border-red {
            position: relative;
            border: 2px solid red;
            background: #fff;
        }

        .corner {
            position: absolute;
            z-index: 1;
            background: rgba(0, 0, 0, 0);
        }
            .corner > div {
                width: 14px;
                height: 14px;
            }
                .corner > div div {
                    position: absolute;
                }
        .corner-top-left > div div:nth-child(1) {
            width: 2px;
            height: 2px;
            border: 2px solid red;
            top: 0;
            left: 0;
        }
        .corner-top-left > div div:nth-child(2) {
            width: 2px;
            height: 2px;
            border: 2px solid red;
            top: 0;
            left: 7px;
        }
        .corner-top-left > div div:nth-child(3) {
            width: 2px;
            height: 2px;
            border: 2px solid red;
            top: 7px;
            left: 0;
        }
        .corner-top-left > div div:nth-child(4) {
            background: #fff;
            z-index: -1;
            width: 7px;
            height: 14px;
            border-bottom: 1px solid red;
            border-right: 1px solid red;
            top: 0px;
            left: 0px;
        }
        .corner-top-left > div div:nth-child(5) {
            background: #fff;
            z-index: -1;
            width: 14px;
            height: 7px;
            border-bottom: 1px solid red;
            border-right: 1px solid red;
            top: 0px;
            left: 0px;
        }
        .corner-top-left > div div:nth-child(6) {
            width: 2px;
            height: 2px;
            border: 1px solid red;
            top: 4px;
            left: 4px;
        }
        .corner-bottom-left > div div:nth-child(1) {
            width: 2px;
            height: 2px;
            border: 2px solid red;
            top: 0;
            left: 0;
        }
        .corner-bottom-left > div div:nth-child(2) {
            width: 2px;
            height: 2px;
            border: 2px solid red;
            top: 7px;
            left: 7px;
        }
        .corner-bottom-left > div div:nth-child(3) {
            width: 2px;
            height: 2px;
            border: 2px solid red;
            top: 7px;
            left: 0;
        }
        .corner-bottom-left > div div:nth-child(4) {
            background: #fff;
            z-index: -1;
            width: 7px;
            height: 14px;
            border-top: 1px solid red;
            border-right: 1px solid red;
            top: -2px;
            left: 0px;
        }
        .corner-bottom-left > div div:nth-child(5) {
            background: #fff;
            z-index: -1;
            width: 14px;
            height: 7px;
            border-top: 1px solid red;
            border-right: 1px solid red;
            top: 5px;
            left: 0px;
        }
        .corner-bottom-left > div div:nth-child(6) {
            width: 2px;
            height: 2px;
            border: 1px solid red;
            top: 4px;
            left: 4px;
        }
        .corner-top-right > div div:nth-child(1) {
            width: 2px;
            height: 2px;
            border: 2px solid red;
            top: 0;
            left: 0;
        }
        .corner-top-right > div div:nth-child(2) {
            width: 2px;
            height: 2px;
            border: 2px solid red;
            top: 0;
            left: 7px;
        }
        .corner-top-right > div div:nth-child(3) {
            width: 2px;
            height: 2px;
            border: 2px solid red;
            top: 7px;
            left: 7px;
        }
        .corner-top-right > div div:nth-child(4) {
            background: #fff;
            z-index: -1;
            width: 7px;
            height: 14px;
            border-bottom: 1px solid red;
            border-left: 1px solid red;
            top: 0px;
            left: 5px;
        }
        .corner-top-right > div div:nth-child(5) {
            background: #fff;
            z-index: -1;
            width: 14px;
            height: 7px;
            border-bottom: 1px solid red;
            border-left: 1px solid red;
            top: 0px;
            left: -2px;
        }
        .corner-top-right > div div:nth-child(6) {
            width: 2px;
            height: 2px;
            border: 1px solid red;
            top: 4px;
            left: 4px;
        }
        .corner-bottom-right > div div:nth-child(1) {
            width: 2px;
            height: 2px;
            border: 2px solid red;
            top: 7px;
            left: 7px;
        }
        .corner-bottom-right > div div:nth-child(2) {
            width: 2px;
            height: 2px;
            border: 2px solid red;
            top: 0;
            left: 7px;
        }
        .corner-bottom-right > div div:nth-child(3) {
            width: 2px;
            height: 2px;
            border: 2px solid red;
            top: 7px;
            left: 0;
        }
        .corner-bottom-right > div div:nth-child(4) {
            background: #fff;
            z-index: -1;
            width: 7px;
            height: 14px;
            border-top: 1px solid red;
            border-left: 1px solid red;
            top: -2px;
            left: 4px;
        }
        .corner-bottom-right > div div:nth-child(5) {
            background: #fff;
            z-index: -1;
            width: 14px;
            height: 9px;
            border-top: 1px solid red;
            border-left: 1px solid red;
            top: 4px;
            left: -2px;
        }
        .corner-bottom-right > div div:nth-child(6) {
            width: 2px;
            height: 2px;
            border: 1px solid red;
            top: 4px;
            left: 4px;
        }
    </style>
</head>
<body>
    <div id="loading" class="form_phongthuy_controls" style="display: none;position: absolute;margin-left: -65px;z-index: 9;">
        <img style=" width: 130px; " src="~/Plugins/Template2/images/gif-phongthuy.gif">
    </div>
    <div class="container main_wrapper_pt" id="main_wrapper" style="padding: 0px;background-color: #fff;box-shadow: 0px 0px 1px 1px #9d8888;">
        @Html.Partial("_HomeHeader")
        <div class="row" style="margin: 2px 0px;">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
        @Html.Partial("_HomeFooter")
    </div>
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Plugins/notify/notify.js"></script>
    <script src="~/Scripts/jquery-confirm.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/shareJS.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>