﻿<div class="modal fade" id="profileModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <div id="pAvatar" class="avatar">
                    <img src="" class="img img-circle currentImg" />
                </div>
            </div>
            <div class="modal-body" style="margin: 0px 15px;">
                <form id="" class="form-horizontal">
                    <input type="hidden" id="pIdUser" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Họ và tên</label>
                                <input type="text" class="form-control" id="pFullName" value="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Thời gian tạo</label>
                                <input type="text" class="form-control" id="pCreateTime" readonly value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" id="pEmail" value="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <input type="text" class="form-control" id="pPhoneNumber" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Địa chỉ</label>
                                <input type="text" class="form-control" id="pAddress" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <input type="text" class="form-control" id="pIsActive" readonly value="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Quyền</label>
                                <input type="text" class="form-control" id="pRoleId" readonly value="" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-toggle="modal" data-target="#changePassModel" class="btn btn-primary">Đổi mật khẩu</button>
                <button type="button" id="update-profile" class="btn btn-primary btn-update">Cập nhật</button>
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>