﻿@model SimStore_DucPham.Models.OrderAddressViewModel
@using SimStore_DucPham.Helper
@{ int numAddress = 1;}
<div class="modal fade" id="addressModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4>Danh sách địa chỉ nhận hàng</h4>
            </div>
            <div class="modal-body" style="margin: 0px 15px;">
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Họ và tên</th>
                            <th>Điện thoại</th>
                            <th>Địa chỉ</th>
                            <th>Loại</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Addresses)
                        {
                            <tr>
                                <td>@numAddress</td>
                                <td>@item.FullName</td>
                                <td>@item.PhoneNumber</td>
                                <td>@item.Address</td>
                                <td>
                                    @{
                                        if (Session[KeyHelper.Session_Address] != null)
                                        {
                                            string addressId = (string)Session[KeyHelper.Session_Address];
                                            if (item.Id.Equals(addressId))
                                            {
                                                <label style="font-size: 12px;color: red;font-weight:bold;">Đang chọn</label>
                                            }
                                            else
                                            {
                                                <button onclick=SetAddress('@item.Id') class="btn btn-xs btn-success">Chọn</button>
                                            }
                                        }
                                        else
                                        {
                                            if (item.IsPay)
                                            {
                                                <label style="font-size: 12px;color: red;font-weight:bold;">Đang chọn</label>
                                            }
                                            else
                                            {
                                                <button onclick=SetAddress('@item.Id') class="btn btn-xs btn-success">Chọn</button>
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                            numAddress++;
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Đóng</button>
                <a href="/AddressOrders/Create" class="btn btn-info f-right">Thêm mới</a>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>