﻿@model SimStore_DucPham.Data.Entities.AddressOrder

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_OrderLayout.cshtml";
}
<br />
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="/customer-manager" class="list-group-item">Danh sách đơn hàng</a>
                <a href="/customer-address" class="list-group-item active">Địa chỉ giao hàng</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <h3 style="margin-left: 0px;">Thêm địa chỉ giao hàng</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.FullName)
                                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.PhoneNumber)
                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Address)
                                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.IsPay)
                                    @Html.CheckBoxFor(m => m.IsPay)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="submit" value="Thêm" class="btn btn-sm btn-info" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
