﻿body {
    font-family: 'Roboto', sans-serif;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}

a {
    text-decoration: none;
}

.bg-color-white {
    background-color: #ffffff;
}

.f-right {
    float: right;
}

.f-left {
    float: left;
}

.h-100 {
    height: 100%;
}

.h-50 {
    height: 50%;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

#loading {
    /*background-color: white;*/
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    z-index: 1000000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    text-align: center;
}

    #loading img {
        margin: auto;
        display: block;
        top: calc(50% - 100px);
        left: calc(50% - 10px);
        position: absolute;
        z-index: 999999;
    }

/*.notifyjs-foo-base {
    width: 200px;
    background: #306df7;
    padding: 5px;
    border-radius: 10px;
}

    .notifyjs-foo-base .title {
        width: auto;
        margin-left: 3px;
        color:white;
    }

    .notifyjs-foo-base .buttons {
        float: left;
        font-size: 9px;
    }*/

/*.notifyjs-foo-base button {
        font-size: 9px;
        padding: 5px;
        margin: 2px;
        width: 60px;
    }*/
.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 0px auto;
}

    .avatar-upload .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
    }

        .avatar-upload .avatar-edit input {
            display: none;
        }

            .avatar-upload .avatar-edit input + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all 0.2s ease-in-out;
            }

                .avatar-upload .avatar-edit input + label:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }

                .avatar-upload .avatar-edit input + label:after {
                    content: "\f040";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }

    .avatar-upload .avatar-preview {
        width: 200px;
        height: 130px;
        position: relative;
        /*border-radius: 100%;*/
        /*border: 6px solid #F8F8F8;*/
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    }

        .avatar-upload .avatar-preview > div {
            width: 100%;
            height: 100%;
            /*border-radius: 100%;*/
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
.line-row {
    border-bottom: 1px solid #f7f7f7;
    margin-bottom: 10px;
}