﻿@{
    ViewBag.Title = "Không tìm thấy trang";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<hr />
<br />
<br />
<div class="row text-center">
    <div class="col-md-12">
        <div class="error-template">
            <h1>
                Xin lỗi!
            </h1>
            <h2>
                Trang vừa truy cập không tồn tại
            </h2>
            <div class="error-details">
                Chức năng đang được xây dựng. Vui lòng truy cập lại sau !
            </div>
            <div class="error-actions">
                <a href="/" class="btn btn-primary btn-sm" style="margin-right: 10px;">
                    <span class="glyphicon glyphicon-home"></span>
                    Về trang chủ
                </a><a target="_blank" href="http://fb.com/ducpham1997" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-envelope"></span> Báo cáo lỗi này</a>
            </div>
        </div>
    </div>
</div>