html {
    background: #ddd;
    margin: 0 0 0 -1px;
    padding: 0;
    overflow-y: scroll
}

body {
    font-size: 13px;
    background-color: #cac1c1 !important;
    /*background: url(images/im1.jpg) 0 -274px repeat-x fixed;*/
}

#tf {
    text-align: center;
    font-size: 13px;
    padding: 10px 0
}

    #tf a {
        font-size: 12px
    }

p {
    padding: 0;
    margin: 0
}

.chucam {
    color: red
}

#toTop {
    position: fixed;
    bottom: 38px;
    right: 10px;
    cursor: pointer;
    background: url(images/im2.png) 0 -154px no-repeat;
    text-indent: -9999px;
    width: 50px;
    height: 50px
}

    #toTop:hover {
        background: url(images/im2.png) 0 -209px no-repeat;
        width: 50px;
        height: 50px
    }

.bottom {
    position: fixed;
    bottom: 0;
    /*background: url(images/im1.jpg) 0 -39px repeat-x;*/
    width: 100%;
    height: 28px;
    color: #ff0;
    font-size: 13px;
    z-index: 999
}

#ck input {
    border: 0;
    border-bottom: 1px silver dashed;
    width: auto
}

#ck table tr td {
    height: 30px
}

form {
    margin: 0;
    padding: 0
}

#vienxanh {
    border: 1px silver dotted
}

.input-search {
    margin: 1px 0px 0px 0px;
    padding: 0px 0px 0px 16px;
    width: 100%;
    height: 34px;
    border: 1px #0098db solid
}

#box_tim2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    clear: both
}

#box_tim {
    height: 20px;
    margin: 0 auto;
    width: 413px;
    text-align: left
}

    #box_tim div.l {
        height: 20px;
        background-image: url(images/tim_1.png);
        width: 8px;
        float: left
    }

.none2, .mobile {
    display: none
}

#tables {
    /*background: #DAEEFF*/
}

#main_box #tables tbody > tr {
    /*background: #fff*/
}

form #main_box #tables tbody > tr {
    background: none
}

.boder-table {
    border: 1px solid #ccc
}

.so10 a {
    padding: 10px 0 4px 21px;
    background: url(../images/icon-check.png) no-repeat left center
}

.so11 a {
    color: red;
    padding: 10px 0 4px 21px;
    background: url(../images/icon-check.png) no-repeat left center
}

.datmua-sosim a {
    font-size: 26px !important;
    color: red
}

.so-ban .datmua-mang .Viettel2 {
    background: url(../images/viettel.gif) no-repeat;
    border: none;
    width: 100px;
    margin-left: 50px;
    height: 20px
}

.mang .Vietnamobile {
    color: #ff9800;
    text-transform: capitalize;
    font-weight: 700;
    padding-top: 5px
}

.logo-mobile {
    display: none
}

.so-ban .datmua-mang .Mobifone2, .so-ban .datmua-mang .Vinaphone2 {
    border: none;
    width: 100px;
    margin-left: 50px;
    height: 20px
}

.so-ban {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
    margin-top: 10px
}

    .so-ban .datmua-mang .so-sim {
    }

    .so-ban .datmua-mang {
        display: inline-block
    }

.datmua-mang {
    padding: 5px 25px 0
}

    .datmua-mang .so-sim {
        float: left
    }

    .datmua-mang .Viettel2 {
        width: 200px;
        border-top: 0;
        padding: 0;
        height: 20px;
        background-color: #fff;
        background: url(../images/viettel.gif) no-repeat;
        margin-left: 50px
    }

    .datmua-mang .Vietnamobile2 {
        width: 90px
    }

.Mobifone2 {
    width: 200px;
    border-top: 0;
    padding: 0;
    height: 20px;
    background-color: #fff;
    background: url(../images/mb.jpg) no-repeat;
    margin-left: 50px
}

.Vinaphone2 {
    width: 200px;
    border-top: 0;
    padding: 0;
    height: 20px;
    background-color: #fff;
    background: url(../images/vng.jpg) no-repeat;
    margin-left: 50px
}

.Vietnamobile2 {
    width: 200px;
    border-top: 0;
    padding: 0;
    height: 50px;
    background-color: #fff;
    background: url(../images/vnmb.png) no-repeat;
    margin-left: 50px
}

#don-hang-moi {
    padding-left: 6px;
    padding-right: 6px;
    background: #fff;
    border: 1px solid #d3e0e9
}

    #don-hang-moi li {
        border-bottom: 1px solid gray;
        padding: 5px 0
    }

.sim-tra-gop a {
    text-transform: uppercase
}

.sim-tra-gop {
    width: 170px
}

    .sim-tra-gop img {
        float: left
    }

#don-hang-moi li p:nth-of-type(1) {
    font-size: 13px;
    color: red;
    text-transform: capitalize;
    font-weight: 700
}

#don-hang-moi li p {
    font-size: 13px;
    margin: 0px !important;
}

#box_tim > img {
    display: none
}

#box_tim div.c {
    line-height: 20px;
    background-image: url(images/tim_2.png);
    width: 400px;
    float: right
}

#box_tim div.w {
    float: left
}

#box_tim div.b {
    background-image: url(images/tim_3.png);
    height: 20px;
    width: 5px;
    float: right
}

#main_box {
    margin: 0 auto
}

    #main_box div.h {
        color: #000;
        text-align: center;
        background: #DAEEFF;
        padding: 10px 0 0;
        border-radius: 0;
        border-color: #ddd;
        font-weight: inherit;
        text-transform: uppercase;
        font-weight: 700;
        border-top: 1px solid #0098db;
        border-bottom: 1px solid #0098db
    }

    #main_box div.b {
        border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        -webkit-border-radius: 0 0 4px 4px;
        -ms-border-radius: 0 0 4px 4px;
        -o-border-radius: 0 0 4px 4px
    }

.bottombt {
    background: url(images/im11.jpg) 0 -330px repeat-x;
    border-top: 1px solid #d3e0e9;
    padding: 6px;
    text-align: center;
    font-weight: 700;
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px
}

    .bottombt:hover {
        /*background: url(images/im1.jpg) 0 -285px repeat-x*/
    }

#main_box div.b p {
    margin: 0;
    padding: 0
}

ul#news {
    list-style-type: lower-roman;
    margin: 0 auto;
    padding: 0
}

    ul#news li {
        padding-left: 6px
    }

#nav1 {
    height: 30px;
    margin: 0 auto;
    text-align: center
}

    #nav1 ul {
        display: table;
        margin: 0 auto;
        padding: 0;
        list-style-type: none;
        position: relative;
        height: 30px;
        font-size: 11px;
        font-family: Arial,sans-serif
    }

ul#nav_menu {
    line-height: 35px;
    margin: 0 auto;
    list-style: none;
    width: 100%
}

    ul#nav_menu li {
        float: left;
        margin-right: 10px;
        padding-right: 10px
    }

        ul#nav_menu li.active, ul#nav_menu li:hover, ul#nav_menu li.sfhover {
            background: transparent url(images/nav_bg_right.png) no-repeat right
        }

        ul#nav_menu li a {
            color: #2c2c2c;
            text-decoration: none;
            display: block;
            padding-left: 15px;
            font-weight: 700
        }

        ul#nav_menu li.active a, ul#nav_menu li:hover a, ul#nav_menu li.sfhover a {
            background: transparent url(images/nav_bg_left.png) no-repeat left;
            color: #0d8890
        }

        ul#nav_menu li ol {
            display: none;
            background-color: #fff;
            list-style: none;
            position: absolute
        }

            ul#nav_menu li ol li {
                background-image: url(counter.gif)
            }

                ul#nav_menu li ol li a {
                    background-image: url(counter.gif)
                }

.box {
    line-height: 29px;
    text-align: center;
    margin: 0;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px
}

.box_c {
    border: 1px solid #d3e0e9;
    margin: 0;
    padding: 0;
    border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px
}

    .box_c p {
        padding: 0;
        margin: 0
    }

.box_f {
    background-image: url(images/bg_menu_b.png);
    width: 197px;
    background-repeat: no-repeat;
    padding-top: 7px
}

#khung {
    margin: 0;
    padding: 0;
    border: 0;
    display: block
}

    #khung img {
        border: 0;
        margin: 0;
        padding: 0
    }

#bangso {
    border: 1px solid #F90;
    width: 100%;
    background-color: #FC6
}

    #bangso .stt {
        width: 7%;
        text-align: center
    }

    #bangso .sim {
        width: 18%;
        font-size: 13px;
        padding-left: 5px;
        font-weight: 700
    }

    #bangso .gia {
        width: 18%;
        padding-left: 10px
    }

    #bangso .mang {
        width: 5%;
        text-align: center
    }

    #bangso .phongthuy {
        width: 2%;
        text-align: center
    }

    #bangso .datmua {
        width: 15%;
        text-align: center
    }

.divcontent {
    background-color: #fff;
    padding: 10px
}

a {
    text-decoration: none
}

#pages {
    height: 22px;
    margin: 0 auto;
    text-align: center
}

    #pages ul li {
        display: block;
        float: left;
        margin: 0;
        padding: 0
    }

    #pages ul {
        display: table;
        margin: 0 auto;
        padding: 0;
        list-style-type: none;
        position: relative;
        height: 22px;
        text-transform: uppercase;
        font-size: 12px;
        font-family: Arial,sans-serif
    }

        #pages ul li {
            display: block;
            float: left;
            margin: 0;
            padding: 0;
            border: 1px silver solid;
            margin-left: 1px
        }

            #pages ul li:hover {
                display: block;
                float: left;
                margin: 0;
                padding: 0;
                border: 1px orange solid;
                margin-left: 1px;
                background-color: #FFEBE6
            }

            #pages ul li a {
                display: block;
                float: left;
                color: #333;
                text-decoration: none;
                padding: 0 10px;
                line-height: 22px;
                font-weight: 700
            }

            #pages ul li span {
                color: red;
                line-height: 22px;
                padding: 0 10px;
                font-weight: 700
            }

.m {
    width: 198px;
    display: block;
    height: auto;
    border-color: #9d9d9d;
    border-width: 0;
    border-style: solid;
    margin: -5px 0 2px;
    padding-bottom: 3px;
    background: transparent url(images/css/m_f.gif) no-repeat scroll center bottom
}

    .m a {
        padding-left: 10px
    }

.sub {
    border: 0 #CCC solid;
    height: 25px;
    background-image: url(images/css/h3bg.gif);
    font-family: Verdana;
    font-weight: 700;
    color: #fff
}

    .sub:hover {
        color: red
    }

.rows {
    background-color: #FFF
}

.rows2 {
    background-color: #F0F0F0
}

#right {
    width: 200px;
    padding: 0;
    float: right
}

#left {
    width: 200px;
    padding: 0;
    float: left
}

#center {
    margin: 0 auto;
    width: 510px;
    padding: 0 10px;
    float: left
}

h3 {
    color: #fff;
    padding-left: 10px;
    font-size: 12px;
    font-family: Verdana;
    margin: 20px 0 5px;
    clear: both;
    /*background-image: url(images/css/box_h3.png);*/
    line-height: 28px;
    color: #333
}

h6 {
    color: #fff;
    padding-left: 10px;
    font-size: 12px;
    font-family: Verdana;
    margin: 20px 0 5px;
    clear: both;
    background-image: url(images/css/box_b.png);
    height: 25px;
    color: #333
}

ul#menus {
    display: block;
    padding: 0;
    margin: 0;
    list-style-type: none
}

    ul#menus li {
        line-height: 22px;
        background: transparent url(images/vuong.png) no-repeat left;
        margin-left: 6px
    }

        ul#menus li:hover {
            line-height: 22px
        }

        ul#menus li a {
            font-family: Arial,Helvetica,sans-serif;
            font-size: 12px;
            font-weight: 700;
            text-decoration: none;
            color: #06C;
            padding-left: 10px
        }

        ul#menus li.active a {
            font-family: Arial,Helvetica,sans-serif;
            font-size: 12px;
            font-weight: 700;
            text-decoration: none;
            color: #2c2c2c;
            padding-left: 10px
        }

        ul#menus li a:hover {
            font-family: Arial,Helvetica,sans-serif;
            font-size: 12px;
            font-weight: 700;
            text-decoration: none;
            color: #0098db;
            padding-left: 10px
        }

        ul#menus li.sup {
            line-height: 22px;
            border-bottom: 1px gray dotted;
            background-color: #FCE896;
            color: #666;
            padding-left: 7px;
            font-size: x-small
        }

#dmenu {
    margin: 0 auto;
    width: 100%
}

    #dmenu div#m {
        float: left;
        margin: 0 auto
    }

    #dmenu div#c {
        float: right;
        margin: 0 auto
    }

#content_top p {
    margin: 0;
    padding: 0;
    text-align: left
}

.Vinaphone {
    height: 22px;
    width: 80px;
    background: url(images/im2.png) 0 -44px;
    margin: 0 auto;
    padding: 0
}

.Mobifone {
    height: 22px;
    width: 80px;
    background: url(images/im2.png) 0 -22px;
    margin: 0 auto;
    padding: 0
}

.Viettel {
    height: 22px;
    width: 82px;
    background: url(images/viettel.gif) no-repeat;
    margin: 0 auto;
    padding: 0
}

.Vietnamobile {
    height: 22px;
    width: 80px;
    background: url(images/im2.png) 0 -66px;
    margin: 0 auto;
    padding: 0
}

.Codinh {
    height: 22px;
    width: 80px;
    background: url(images/im2.png) 0 -132px;
    margin: 0 auto;
    padding: 0
}

.Sfone {
    height: 22px;
    width: 80px;
    background: url(images/im2.png) 0 -110px;
    margin: 0 auto;
    padding: 0
}

.Gmobile {
    height: 22px;
    width: 80px;
    background: url(images/im2.png) 0 -88px;
    margin: 0 auto;
    padding: 0
}

#fotter {
    /*background: url(images/im1.jpg) 0 -270px repeat-x;*/
    width: 1200px;
    margin: 0 auto;
    height: 150px
}

    #fotter div.left {
        width: 70%;
        float: left;
        height: 120px;
        text-align: left
    }

        #fotter div.left p {
            padding-left: 10px
        }

    #fotter div.right {
        width: 30%;
        float: right;
        line-height: 120px
    }

#tables {
    width: 100%;
    margin: 0
}

    #tables tr td.top {
        line-height: 27px
    }

    #tables tr td {
        line-height: 18px
    }

        #tables tr td.tampx {
            line-height: 19px
        }

#simgiamgia th, #simgiamgia td {
    background-color: #fff;
    padding-left: 3px;
    text-align: left;
    line-height: 22px
}

#simgiamgia th {
    font-weight: 700;
    background-color: #2F97FF;
    color: #fff
}

#simgiamgia {
    background-color: #EEE;
    width: 98%;
    margin: auto
}

img {
    border: 0
}

ul#navmenu {
    margin: 0;
    border: 0 none;
    padding: 0;
    list-style: none
}

    ul#navmenu li {
        margin: 0;
        border: 0 none;
        padding: 0;
        list-style: none;
        margin: 0 1px;
        border-bottom: 1px #d3e0e9 solid
    }

    ul#navmenu ul {
        margin: 0;
        border: 0 none;
        padding: 0;
        width: 175px;
        list-style: none;
        display: none;
        left: 0;
        padding-left: 10px
    }

        ul#navmenu ul:after {
            clear: both;
            display: block;
            font: 1px/0 serif;
            content: ".";
            height: 0;
            visibility: hidden
        }

        ul#navmenu ul li {
            width: 215px;
            float: left;
            display: block !important;
            display: inline;
            height: 1%;
            margin: 0 1p 0 2px
        }

    ul#navmenu a {
        padding: 4px 10px;
        float: none !important;
        display: block;
        font: 14px/22px Arial,Helvetica,sans-serif;
        text-decoration: none;
        height: auto !important;
        border-bottom: 0 silver dotted;
        line-height: 32px;
        color: #555;
        height: 20px;
        margin: 0 1px
    }

.box h2, .box h3 {
    margin: 0px;
    background: #3097d1;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding: 5px 13px
}

ul#navmenu > li > a:hover {
    background-color: #f5f8fa
}

ul#navmenu ul li a {
    padding: 2px 6px;
    float: none !important;
    float: left;
    display: block;
    color: #000;
    font: 14px Arial,Helvetica,sans-serif;
    text-decoration: none;
    height: auto !important;
    line-height: 25px;
    height: 1%
}

ul#navmenu li.sup a {
    background-color: #fff
}

ul#navmenu a:hover, ul#navmenu li:hover a, ul#navmenu li.iehover a {
    color: #555
}

ul#navmenu li:hover li a, ul#navmenu li.iehover li a {
    float: none;
    color: #555
}

    ul#navmenu li:hover li a:hover, ul#navmenu li:hover li:hover a, ul#navmenu li.iehover li a:hover, ul#navmenu li.iehover li.iehover a {
        color: #0d9600
    }

ul#navmenu li:hover li:hover li a, ul#navmenu li.iehover li.iehover li a {
    height: 24px
}

    ul#navmenu li:hover li:hover li a:hover, ul#navmenu li:hover li:hover li:hover a, ul#navmenu li.iehover li.iehover li a:hover, ul#navmenu li.iehover li.iehover li.iehover a {
        background: #CCC;
        color: #FFF
    }

ul#navmenu li:hover li:hover li:hover li a, ul#navmenu li.iehover li.iehover li.iehover li a {
    background: #EEE;
    color: #666
}

    ul#navmenu li:hover li:hover li:hover li a:hover, ul#navmenu li.iehover li.iehover li.iehover li a:hover {
        background: #CCC;
        color: #FFF
    }

ul#navmenu ul ul, ul#navmenu ul ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 160px
}

ul#navmenu li:hover ul ul, ul#navmenu li:hover ul ul ul, ul#navmenu li.iehover ul ul, ul#navmenu li.iehover ul ul ul {
    display: none
}

ul#navmenu li:hover ul, ul#navmenu ul li:hover ul, ul#navmenu ul ul li:hover ul, ul#navmenu li.iehover ul, ul#navmenu ul li.iehover ul, ul#navmenu ul ul li.iehover ul {
    display: block
}

#txtf {
    height: 40px;
    float: left;
    padding-left: 10px;
    padding-top: 10px
}

    #txtf a {
        color: #fff
    }

#lbOverlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99997;
    width: 100%;
    height: 100%
}

    #lbOverlay.black {
        background-color: #000
    }

    #lbOverlay.grey {
        background-color: #000
    }

    #lbOverlay.red {
        background-color: #300
    }

    #lbOverlay.green {
        background-color: #030
    }

    #lbOverlay.blue {
        background-color: #011D50
    }

    #lbOverlay.gold {
        background-color: #660
    }

    #lbOverlay.orange {
        background-color: #FFBB48
    }

#lbMain {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 99998;
    text-align: center;
    line-height: 0;
    display: -moz-inline-stack
}

    #lbMain a img {
        border: 1px solid #fff
    }

#lbOuterContainer {
    position: relative;
    background-color: #fff;
    width: 200px;
    height: 200px;
    margin: 0 auto
}

    #lbOuterContainer.black {
        border: 2px solid #CCC;
        background-color: #000
    }

    #lbOuterContainer.grey {
        border: 2px solid #888
    }

    #lbOuterContainer.red {
        border: 2px solid #D00
    }

    #lbOuterContainer.green {
        border: 2px solid #00B000
    }

    #lbOuterContainer.blue {
        border: 2px solid #5F89D8
    }

    #lbOuterContainer.gold {
        border: 2px solid #B0B000
    }

    #lbOuterContainer.orange {
        border: 2px solid #D15211
    }

#lbTopContainer, #lbBottomContainer {
    font: .85em Verdana,Helvetica,sans-serif;
    background-color: #fff;
    width: 100%;
    line-height: 1.4em;
    font-size: .9em;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    position: relative;
    z-index: 14;
    display: none
}

#lbTopContainer {
    overflow: hidden;
    margin-top: 5px
}

    #lbTopContainer.black, #lbBottomContainer.black {
        background-color: #000
    }

    #lbTopContainer.grey, #lbTopContainer.red, #lbTopContainer.green, #lbTopContainer.blue, #lbTopContainer.gold, #lbTopContainer.orange, #lbBottomContainer.grey, #lbBottomContainer.red, #lbBottomContainer.green, #lbBottomContainer.blue, #lbBottomContainer.gold, #lbBottomContainer.orange {
        background-color: #fff
    }

#lbImage, #lbIframe {
    border: none
}

    #lbImage.black, #lbIframe.black {
        border: 1px solid #CCC
    }

    #lbImage.grey, #lbIframe.grey {
        border: 1px solid #888
    }

    #lbImage.red, #lbIframe.red {
        border: 1px solid #D00
    }

    #lbImage.green, #lbIframe.green {
        border: 1px solid #00B000
    }

    #lbImage.blue, #lbIframe.blue {
        border: 1px solid #5F89D8
    }

    #lbImage.gold, #lbIframe.gold {
        border: 1px solid #B0B000
    }

    #lbImage.orange, #lbIframe.orange {
        border: 1px solid #D15211
    }

#lbImageContainer, #lbIframeContainer {
    padding: 10px;
    z-index: 12
}

#lbLoading {
    height: 100%;
    width: 100%;
    margin-top: -10px;
    background: url(images/loading_white.gif) center no-repeat
}

    #lbLoading.black {
        background: url(images/loading_black.gif) center no-repeat
    }

#lbHoverNav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10
}

#lbImageContainer > #lbHoverNav {
    left: 0
}

#lbHoverNav a {
    outline: none
}

#lbPrevHov {
    width: 48%;
    height: 100%;
    background: transparent url(images/blank.gif) no-repeat;
    display: block;
    left: 0;
    float: left;
    margin-left: 3px;
    border: none !important
}

    #lbPrevHov.black:hover, #lbPrevHov.black:visited {
        background: url(images/prev_black_t.png) left 30% no-repeat
    }

    #lbPrevHov.grey:hover, #lbPrevHov.grey:visited {
        background: url(images/prev_grey_t.png) left 30% no-repeat
    }

    #lbPrevHov.red:hover, #lbPrevHov.red:visited {
        background: url(images/prev_red_t.png) left 30% no-repeat
    }

    #lbPrevHov.green:hover, #lbPrevHov.green:visited {
        background: url(images/prev_green_t.png) left 30% no-repeat
    }

    #lbPrevHov.blue:hover, #lbPrevHov.blue:visited {
        background: url(images/prev_blue_t.png) left 30% no-repeat
    }

    #lbPrevHov.gold:hover, #lbPrevHov.gold:visited {
        background: url(images/prev_gold_t.png) left 30% no-repeat
    }

    #lbPrevHov.orange:hover, #lbPrevHov.orange:visited {
        background: url(images/prev_orange_t.png) left 30% no-repeat
    }

#lbNextHov {
    width: 48%;
    height: 100%;
    background: transparent url(images/blank.gif) no-repeat;
    display: block;
    right: 0;
    float: right;
    margin-right: 3px;
    border: none !important
}

    #lbNextHov.black:hover, #lbNextHov.black:visited {
        background: url(images/next_black_t.png) right 30% no-repeat
    }

    #lbNextHov.grey:hover, #lbNextHov.grey:visited {
        background: url(images/next_grey_t.png) right 30% no-repeat
    }

    #lbNextHov.red:hover, #lbNextHov.red:visited {
        background: url(images/next_red_t.png) right 30% no-repeat
    }

    #lbNextHov.green:hover, #lbNextHov.green:visited {
        background: url(images/next_green_t.png) right 30% no-repeat
    }

    #lbNextHov.blue:hover, #lbNextHov.blue:visited {
        background: url(images/next_blue_t.png) right 30% no-repeat
    }

    #lbNextHov.gold:hover, #lbNextHov.gold:visited {
        background: url(images/next_gold_t.png) right 30% no-repeat
    }

    #lbNextHov.orange:hover, #lbNextHov.orange:visited {
        background: url(images/next_orange_t.png) right 30% no-repeat
    }

#lbPrev, #lbPrevTop {
    width: 26px;
    height: 28px;
    float: right;
    margin: 0 0 1px 8px;
    border: none !important
}

    #lbPrev.black, #lbPrevTop.black {
        background: url(images/prev_black.png) no-repeat
    }

    #lbPrev.blackOff, #lbPrevTop.blackOff {
        background: url(images/prev_black_off.png) no-repeat;
        cursor: default
    }

    #lbPrev.grey, #lbPrevTop.grey {
        background: url(images/prev_grey.png) no-repeat
    }

    #lbPrev.greyOff, #lbPrevTop.greyOff {
        background: url(images/prev_grey_off.png) no-repeat;
        cursor: default
    }

    #lbPrev.red, #lbPrevTop.red {
        background: url(images/prev_red.png) no-repeat
    }

    #lbPrev.redOff, #lbPrevTop.redOff {
        background: url(images/prev_red_off.png) no-repeat;
        cursor: default
    }

    #lbPrev.green, #lbPrevTop.green {
        background: url(images/prev_green.png) no-repeat
    }

    #lbPrev.greenOff, #lbPrevTop.greenOff {
        background: url(images/prev_green_off.png) no-repeat;
        cursor: default
    }

    #lbPrev.blue, #lbPrevTop.blue {
        background: url(images/prev_blue.png) no-repeat
    }

    #lbPrev.blueOff, #lbPrevTop.blueOff {
        background: url(images/prev_blue_off.png) no-repeat;
        cursor: default
    }

    #lbPrev.gold, #lbPrevTop.gold {
        background: url(images/prev_gold.png) no-repeat
    }

    #lbPrev.goldOff, #lbPrevTop.goldOff {
        background: url(images/prev_gold_off.png) no-repeat;
        cursor: default
    }

    #lbPrev.orange, #lbPrevTop.orange {
        background: url(images/prev_orange.png) no-repeat
    }

    #lbPrev.orangeOff, #lbPrevTop.orangeOff {
        background: url(images/prev_orange_off.png) no-repeat;
        cursor: default
    }

#lbNext, #lbNextTop {
    width: 26px;
    height: 28px;
    float: right;
    margin: 0 0 1px 8px;
    border: none !important
}

    #lbNext.black, #lbNextTop.black {
        background: url(images/next_black.png) no-repeat
    }

    #lbNext.blackOff, #lbNextTop.blackOff {
        background: url(images/next_black_off.png) no-repeat;
        cursor: default
    }

    #lbNext.grey, #lbNextTop.grey {
        background: url(images/next_grey.png) no-repeat
    }

    #lbNext.greyOff, #lbNextTop.greyOff {
        background: url(images/next_grey_off.png) no-repeat;
        cursor: default
    }

    #lbNext.red, #lbNextTop.red {
        background: url(images/next_red.png) no-repeat
    }

    #lbNext.redOff, #lbNextTop.redOff {
        background: url(images/next_red_off.png) no-repeat;
        cursor: default
    }

    #lbNext.green, #lbNextTop.green {
        background: url(images/next_green.png) no-repeat
    }

    #lbNext.greenOff, #lbNextTop.greenOff {
        background: url(images/next_green_off.png) no-repeat;
        cursor: default
    }

    #lbNext.blue, #lbNextTop.blue {
        background: url(images/next_blue.png) no-repeat
    }

    #lbNext.blueOff, #lbNextTop.blueOff {
        background: url(images/next_blue_off.png) no-repeat;
        cursor: default
    }

    #lbNext.gold, #lbNextTop.gold {
        background: url(images/next_gold.png) no-repeat
    }

    #lbNext.goldOff, #lbNextTop.goldOff {
        background: url(images/next_gold_off.png) no-repeat;
        cursor: default
    }

    #lbNext.orange, #lbNextTop.orange {
        background: url(images/next_orange.png) no-repeat
    }

    #lbNext.orangeOff, #lbNextTop.orangeOff {
        background: url(images/next_orange_off.png) no-repeat;
        cursor: default
    }

#lbTopData, #lbBottomData {
    float: left;
    text-align: left;
    padding-left: 10px
}

#lbBottomData {
    padding-bottom: .5em
}

    #lbBottomData.black, #lbTopData.black {
        color: #fff
    }

    #lbBottomData.grey, #lbTopData.grey {
        color: #333
    }

    #lbBottomData.red, #lbTopData.red {
        color: #620000
    }

    #lbBottomData.green, #lbTopData.green {
        color: #030
    }

    #lbBottomData.blue, #lbTopData.blue {
        color: #01379E
    }

    #lbBottomData.gold, #lbTopData.gold {
        color: #660
    }

    #lbBottomData.orange, #lbTopData.orange {
        color: #D15211
    }

#lbTopNav, #lbBottomNav {
    float: right;
    text-align: right;
    padding-right: 10px
}

#lbNumTop, #lbNumBottom {
    font-style: italic
}

#lbDescBottom {
    display: block
}

#lbTitleTop, #lbTopNav {
    margin-top: .3em
}

#lbTitleTop, #lbTitleBottom {
    display: block;
    font-weight: 700
}

#lbClose, #lbCloseTop {
    width: 26px;
    height: 28px;
    float: right;
    margin: 0 0 1px 8px;
    border: none !important
}

    #lbClose.black, #lbCloseTop.black {
        background: url(images/close_black.png) no-repeat
    }

    #lbClose.grey, #lbCloseTop.grey {
        background: url(images/close_grey.png) no-repeat
    }

    #lbClose.red, #lbCloseTop.red {
        background: url(images/close_red.png) no-repeat
    }

    #lbClose.green, #lbCloseTop.green {
        background: url(images/close_green.png) no-repeat
    }

    #lbClose.blue, #lbCloseTop.blue {
        background: url(images/close_blue.png) no-repeat
    }

    #lbClose.gold, #lbCloseTop.gold {
        background: url(images/close_gold.png) no-repeat
    }

    #lbClose.orange, #lbCloseTop.orange {
        background: url(images/close_orange.png) no-repeat
    }

#lbPrint, #lbPrintTop {
    width: 26px;
    height: 28px;
    float: right;
    margin: 0 0 1px 8px;
    border: none !important
}

    #lbPrint.black, #lbPrintTop.black {
        background: url(images/print_black.png) no-repeat
    }

    #lbPrint.grey, #lbPrintTop.grey {
        background: url(images/print_grey.png) no-repeat
    }

    #lbPrint.red, #lbPrintTop.red {
        background: url(images/print_red.png) no-repeat
    }

    #lbPrint.green, #lbPrintTop.green {
        background: url(images/print_green.png) no-repeat
    }

    #lbPrint.blue, #lbPrintTop.blue {
        background: url(images/print_blue.png) no-repeat
    }

    #lbPrint.gold, #lbPrintTop.gold {
        background: url(images/print_gold.png) no-repeat
    }

    #lbPrint.orange, #lbPrintTop.orange {
        background: url(images/print_orange.png) no-repeat
    }

#lbPlay, #lbPlayTop {
    width: 26px;
    height: 28px;
    float: right;
    margin: 0 0 1px 8px;
    border: none !important
}

    #lbPlay.black, #lbPlayTop.black {
        background: url(images/play_black.png) no-repeat
    }

    #lbPlay.grey, #lbPlayTop.grey {
        background: url(images/play_grey.png) no-repeat
    }

    #lbPlay.red, #lbPlayTop.red {
        background: url(images/play_red.png) no-repeat
    }

    #lbPlay.green, #lbPlayTop.green {
        background: url(images/play_green.png) no-repeat
    }

    #lbPlay.blue, #lbPlayTop.blue {
        background: url(images/play_blue.png) no-repeat
    }

    #lbPlay.gold, #lbPlayTop.gold {
        background: url(images/play_gold.png) no-repeat
    }

    #lbPlay.orange, #lbPlayTop.orange {
        background: url(images/play_orange.png) no-repeat
    }

#lbPause, #lbPauseTop {
    width: 26px;
    height: 28px;
    float: right;
    margin: 0 0 1px 8px;
    border: none !important
}

    #lbPause.black, #lbPauseTop.black {
        background: url(images/pause_black.png) no-repeat
    }

    #lbPause.grey, #lbPauseTop.grey {
        background: url(images/pause_grey.png) no-repeat
    }

    #lbPause.red, #lbPauseTop.red {
        background: url(images/pause_red.png) no-repeat
    }

    #lbPause.green, #lbPauseTop.green {
        background: url(images/pause_green.png) no-repeat
    }

    #lbPause.blue, #lbPauseTop.blue {
        background: url(images/pause_blue.png) no-repeat
    }

    #lbPause.gold, #lbPauseTop.gold {
        background: url(images/pause_gold.png) no-repeat
    }

    #lbPause.orange, #lbPauseTop.orange {
        background: url(images/pause_orange.png) no-repeat
    }

#lbClose, #lbPrint, #lbPlay, #lbPause {
    margin: 0 0 6px 8px
}

* html a:hover {
    background: transparent
}

.lytetip {
    outline: none;
    border-bottom: 1px dotted;
    z-index: 24;
    text-decoration: none
}

    .lytetip span {
        color: #000;
        position: absolute;
        top: 2em;
        left: 0;
        padding: .5em .8em;
        font: 10pt "Trebuchet MS",Arial,Helvetica,sans-serif !important;
        background: #F4F5FB;
        border: 1px solid #888;
        border-radius: 5px 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -webkit-box-shadow: 1px 2px 3px 0 #949494;
        -moz-box-shadow: 1px 2px 3px 0 #949494;
        box-shadow: 1px 2px 3px 0 #949494;
        width: 240px;
        filter: alpha(opacity:95);
        khtmlopacity: .95;
        mozopacity: .95;
        opacity: .95;
        text-align: left;
        display: none
    }

    .lytetip:hover {
        z-index: 25;
        color: #aaf;
        background:;
        text-decoration: none
    }

        .lytetip:hover span {
            display: block
        }

        .lytetip:hover em {
            font-size: 1.2em;
            font-weight: 700;
            display: block;
            padding: 0 0 .6em
        }

        .lytetip:hover .lbTipImg {
            border: 0;
            margin: -20px 0 0 -36px;
            float: left;
            position: absolute;
            height: 32px;
            width: 32px
        }

.lbErrorImg {
    background: url(images/error.png)
}

.lbInfoImg {
    background: url(images/info.png)
}

.lbHelpImg {
    background: url(images/help.png)
}

.lbWarningImg {
    background: url(images/warning.png)
}

span.lbCustom {
    padding: .5em .8em .5em 1.5em !important
}

span.lbIEFix {
    padding: .5em .8em !important
}

.lytetip .lbError {
    background: #FFE7D7;
    border: 1px solid #FF3334
}

.lytetip .lbInfo, .lytetip .lbHelp {
    background: #D2EEF7;
    border: 1px solid #2BB0D7
}

.lytetip .lbWarning {
    background: #FFA;
    border: 1px solid #FFAD33
}

.ddsmoothmenu {
    font: bold 12px Verdana;
    background-image: url(images/bg_nav.gif);
    width: 100%
}

    .ddsmoothmenu ul {
        z-index: 100;
        margin: 0;
        padding: 0;
        list-style-type: none
    }

        .ddsmoothmenu ul li {
            position: relative;
            display: inline;
            float: left
        }

            .ddsmoothmenu ul li a {
                display: block;
                background-image: url(images/bg_nav.gif);
                color: #fff;
                padding: 8px 10px;
                border-right: 0 solid #778;
                color: #2d2b2b;
                text-decoration: none
            }

            * html .ddsmoothmenu ul li a {
                display: inline-block
            }

                .ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited {
                    color: #fff
                }

                .ddsmoothmenu ul li a.selected {
                    color: #fff
                }

                .ddsmoothmenu ul li a:hover {
                    color: red
                }

            .ddsmoothmenu ul li ul {
                position: absolute;
                left: 0;
                display: none;
                visibility: hidden;
                opacity: .9
            }

                .ddsmoothmenu ul li ul li {
                    display: list-item;
                    float: none
                }

                    .ddsmoothmenu ul li ul li ul {
                        top: 0
                    }

                    .ddsmoothmenu ul li ul li a {
                        font: normal 13px Verdana;
                        width: 160px;
                        padding: 5px;
                        margin: 0;
                        background: #9CF;
                        border-top-width: 0;
                        border-bottom: 1px solid gray;
                        text-align: left;
                        color: #000
                    }

* html .ddsmoothmenu {
    height: 1%
}

.downarrowclass {
    position: absolute;
    top: 12px;
    right: 7px
}

.rightarrowclass {
    position: absolute;
    top: 6px;
    right: 5px
}

.ddshadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    background: silver
}

.toplevelshadow {
    opacity: .8
}

.menu {
    background: #3097d1;
    border: none;
    border: 0;
    font-family: verdana,geneva,arial,helvetica,sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: 8e8e8e
}

    .menu ul {
        height: 41px;
        line-height: 30px;
        list-style: none;
        margin: 0;
        padding-left: 10px
    }

    .menu li {
        float: left;
        padding: 8px 1px 2px 3px
    }

        .menu li a {
            color: #fff;
            display: block;
            font-weight: 700;
            font-size: 15px;
            line-height: 30px;
            padding: 0 10px;
            text-align: center;
            text-decoration: none
        }

            .menu li a:hover {
                color: #333;
                text-decoration: none
            }

        .menu li ul {
            background: eee;
            border-left: 1px solid #b0bfcc;
            border-right: 1px solid #b0bfcc;
            border-bottom: 1px solid red;
            display: none;
            height: auto;
            filter: alpha(opacity=80);
            opacity: .8;
            position: absolute;
            width: 150px;
            z-index: 200
        }

        .menu li:hover ul {
        }

        .menu li li {
            display: block;
            float: none;
            padding: 0;
            width: 150px
        }

        .menu li ul a {
            display: block;
            font-size: 12px;
            font-style: normal;
            padding: 0 10px 0 15px;
            text-align: left;
            line-height: 24px;
            border-bottom: 1px silver solid;
            color: #000
        }

            .menu li ul a:hover {
                background: #E6E6E6;
                color: #000;
                opacity: 1;
                filter: alpha(opacity=100);
                border-bottom: 1px black solid;
            }

    .menu p {
        clear: left
    }

    .menu #current {
        background: #080;
        color: #fff
    }

* {
    list-style-type: none;
    font-family: Arial,Helvetica,sans-serif;
    padding: 0;
    margin: 0
}

h2 {
    font-size: 12px;
    padding: 0;
    margin: 0
}

#menuspc {
    color: #FFF;
    font-family: Arial;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    text-decoration: none
}

    #menuspc:hover {
        color: red;
        text-decoration: none
    }

.menucx {
    height: 22px;
    background-color: #bcbec0;
    border-right: solid .5px #fff;
    width: 80px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    background-image: url(images/bgtrangden.gif);
    color: #333
}

.menuxc {
    height: 22px;
    background-color: #0F0;
    border-right: solid .5px #fff;
    width: 80px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    background-image: url(images/gbdentrang.gif);
    color: #333
}

a {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #005094;
    text-decoration: none
}

    a:hover {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 12px;
        color: #080;
        text-decoration: none
    }

.bgmenu {
    background-image: url(images/bg_menu.png);
    width: 174px;
    height: 26px;
    font-family: Arial,Helvetica,sans-serif;
    color: #fff;
    font-weight: 700;
    text-align: center
}

.bgmenuc {
    background-image: url(images/bg_menu_c.png)
}

.bgmenub {
    background-image: url(images/bg_menu_b.png);
    height: 5px
}

.bgmain {
    background-image: url(images/bg_main.png);
    height: 26px;
    color: #239cad;
    font-weight: 700;
    text-align: center
}

.bgmainc {
}

.tim {
    height: 18px;
    background-image: url(images/tim_2.png);
    border-width: 0
}

.s {
    /*background-image: url(images/im1.jpg) repeat-x;*/
    width: 76px;
    height: 20px
}

    .s:hover {
        background-image: url(images/s2.png);
        width: 76px;
        height: 20px;
        border-bottom-width: 0 0 0 0
    }

.nuttim {
    background: #1d9ce5;
    width: 100px;
    height: 38px;
    font-weight: 700;
    font-size: 14px;
    color: #fff
}

.tspan {
    background-color: #efefef;
    width: 99%;
    height: 20px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: red;
    font-weight: 700;
    margin: 2px
}

.tinput {
    border: solid 1px #b7cfdb
}

.tampx {
    padding-left: 12px;
    text-align: center
}

.mmot {
    background-image: url(images/m1.png)
}

    .mmot a {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 12px;
        color: #2c2c2c;
        font-weight: 700
    }

        .mmot a:hover {
            font-family: Arial,Helvetica,sans-serif;
            font-size: 12px;
            color: #fe0401;
            font-weight: 700
        }

.but {
    background-image: url(images/but.png);
    height: 134px
}

.next {
    border: solid 1px silver;
    background-color: #fefefe;
    height: 16px;
    width: 35px
}

    .next a {
        font-family: Arial,Helvetica,sans-serif;
        font-weight: 700;
        color: #3f3f3f
    }

.i {
    border: solid 1px silver;
    background-color: #fefefe;
    height: 16px;
    width: 16px
}

.i2 {
    border: solid 1px silver;
    background-color: #fefefe;
    height: 16px;
    width: 16px;
    color: #fe0401
}

.style2 {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #25a8ba;
    font-weight: 700;
    padding-left: 12px;
    height: 18px
}

.cl30 {
    padding-left: 10px;
    height: 26px
}

.responsive-menu, .menu-mang, .phone {
    display: none
}

body {
    /*background: #8b8686 !important;*/
}

.menu li {
    padding: 6px 1px 0 3px
}

.img-logo img {
    width: 100%
}

.center-home {
}

    .center-home img {
        width: 100% !important;
        height: auto
    }

input, select {
    border: 1px solid #d3e0e9
}

.vi-du {
    padding: 8px
}

.center-home {
    width: 705px;
    display: block
}

.cl32 {
    padding-left: 0
}

    .cl32 input, .cl32 select {
        width: 98% !important;
        padding: 5px 0 !important;
        margin: 2px;
        border-radius: 3px
    }

.datmua-sosim {
    margin: 20px 0 0 25px
}

.metvkl label {
    display: inline-block;
    width: 140px;
    text-align: right
}

.metvkl input, .metvkl textarea {
    width: 70% !important;
    padding: 10px !important;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box
}

.metvkl.metvkl2 div input {
    font-size: 18px;
    width: 130px !important;
    margin: 0 auto;
    text-align: center;
    padding: 9px 24px;
    background: #2196F3;
    border-color: #008eff
}

.datmua-sosim {
    margin-left: 26px;
    margin-top: 20px
}

.datmua-sosim2 {
    font-size: 26px;
    font-weight: 700;
    color: red
}

.datmua-giaban2 {
    font-size: 16px;
    font-weight: 700
}

.so-sim {
    font-size: 16px
}

.datmua-giaban {
    padding-top: 5px;
    padding: 10px 25px 5px
}

@media (max-width: 767px) {
    .sim-dep-li {
        width: 50%;
    }

    html {
        margin: 0px;
        overflow-x: hidden;
    }

    .so10 {
        margin-left: 10px;
    }

    .chon-gia-sim2 {
        margin-left: 5px !important;
    }

    .chon-mang-sim2 {
        margin-left: 15px !important;
    }

    .mobile2 {
        display: none;
    }

    body, .center-home {
        width: 100%
    }

    .datmua-sosim {
        margin-left: 0;
        margin-top: 0
    }

    .center-home {
        margin-top: -7px
    }

    .cl32 input, .cl32 select {
        margin: 0
    }

    .datmua-mang {
        padding: 5px 5px 0;
        width: 140px;
        margin: 0 auto
    }

        .datmua-mang .Viettel2 {
            height: 35px
        }

    .datmua-sosim {
        background: none !important;
        padding: 5px 5px 0;
        text-align: center
    }

    .datmua-sosim2 {
        font-size: 26px;
        font-weight: 700;
        color: red
    }

    .datmua-giaban2 {
        font-size: 16px;
        font-weight: 700
    }

    .so-sim {
        font-size: 16px
    }

    .datmua-giaban {
        padding-top: 5px;
        padding: 10px 5px 5px;
        text-align: center
    }

    .gia-muasim > sup {
        top: 5px
    }

    .dat-muasim {
        height: auto !important;
        border-right: 1px solid #999;
        width: 49.5% !important
    }

    .gia-muasim {
        height: 42px !important
    }

    body > table {
        width: 100% !important;
        display: inline-block
    }

        body > table > tbody > tr > td > table {
            width: 100% !important;
            display: inline
        }

    #fotter {
        width: 100% !important
    }

    .dathat-form {
        margin-top: 4px
    }

    #myId {
        width: 100% !important
    }

    tbody {
        width: 100% !important
    }

    body > table > tbody > tr {
        display: block;
        width: 100% !important
    }

        body > table > tbody > tr > td {
            display: block;
            width: 100% !important
        }

            body > table > tbody > tr > td > table > tbody > tr:nth-of-type(1) {
                width: 100% !important;
                display: block
            }

    #main_box table > tbody table > tbody {
        display: inherit
    }

    body > table > tbody > tr > td > table > tbody > tr:nth-of-type(1) > td {
        width: 100% !important;
        display: block;
        height: auto !important
    }

        body > table > tbody > tr > td > table > tbody > tr:nth-of-type(1) > td > table {
            width: 100% !important;
            display: block
        }

            body > table > tbody > tr > td > table > tbody > tr:nth-of-type(1) > td > table tr {
                width: 100% !important;
                display: block
            }

                body > table > tbody > tr > td > table > tbody > tr:nth-of-type(1) > td > table tr td, body > table > tbody > tr > td > table > tbody > tr:nth-of-type(1) > td > table tr td table {
                    width: 100% !important;
                    display: block;
                    height: auto !important
                }

    .center-home > div#main_box {
        width: 96% !important;
        padding: 0 2%;
    }

    .cam-on {
        padding: 10px 10px 20px
    }

    body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2), body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table > tbody > tr > td:nth-of-type(2), body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td, body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table, body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table > tbody, body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table > tbody > tr {
        width: 100% !important;
        display: block
    }

        body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table > tbody > tr > td:nth-of-type(2), body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table > tbody > tr > td:nth-of-type(7) {
            display: none
        }

        body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table > tbody > tr > td:nth-of-type(4) {
            width: 100% !important;
            display: block
        }

            body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table > tbody > tr > td:nth-of-type(4) img {
                display: none
            }

    #box_tim2 .menu {
        display: block !important;
    }

    .menu ul {
        padding-left: 5px
    }

    .menu li a {
        padding: 0 2px;
        font-size: 12px;
        font-weight: 700
    }

    .menu li.mobile {
        display: block
    }

    #main_box {
        width: 100% !important;
        display: block
    }

        #main_box div.h {
            padding-left: 0;
            text-align: center
        }

    body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table > tbody > tr > td:nth-of-type(4) > div:nth-of-type(1) #main_box div.b > table, body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table > tbody > tr > td:nth-of-type(4) > div:nth-of-type(1) #main_box div.b > table > tbody > tr {
        width: 100% !important;
        display: block
    }

        body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table > tbody > tr > td:nth-of-type(4) > div:nth-of-type(1) #main_box div.b > table > tbody > tr > td {
            width: 18.3% !important;
            display: block;
            float: left;
            height: 25px !important
        }

    body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table > tbody > tr > td:nth-of-type(4) #main_box div.b > table {
        width: 100% !important;
        display: block
    }

    #csearch {
        width: 100%;
        height: 39px;
        border: 1px solid #fff;
        font-size: 16px;
        padding-left: 10px;
        border-radius: 0 !important
    }

    .nuttim {
        height: 31px;
        -webkit-appearance: none;
        border-radius: 0 !important
    }

    #soption {
        margin-top: 6px
    }

        #soption tr, #soption > table, #soption > table td > table {
            width: 100% !important;
            display: block
        }

            #soption > table > tbody > tr:nth-of-type(2) > td {
                height: 70px !important
            }

    body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table > tbody > tr > td:nth-of-type(4) > div {
        width: 100% !important;
        display: block
    }

        body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table > tbody > tr > td:nth-of-type(4) > div form {
            width: 100% !important;
            display: block
        }

        body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table > tbody > tr > td:nth-of-type(4) > div:nth-of-type(1) #main_box div.b > table > tbody > tr:nth-of-type(3) td table {
            width: 100% !important;
            display: block;
            margin: 0 !important
        }

        body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table > tbody > tr > td:nth-of-type(4) > div form #main_box .b > table > tbody > tr:nth-of-type(3) > td {
            width: 100% !important;
            display: block
        }

        body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table > tbody > tr > td:nth-of-type(4) > div:nth-of-type(1) #main_box div.b > table > tbody > tr > td > table {
            width: 100% !important;
            display: block;
            margin: 0 !important
        }

            body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table > tbody > tr > td:nth-of-type(4) > div:nth-of-type(1) form #main_box div.b > table > tbody > tr > td, body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table > tbody > tr > td:nth-of-type(4) > div:nth-of-type(1) #main_box div.b > table > tbody > tr > td > table > tbody, body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table > tbody > tr > td:nth-of-type(4) > div:nth-of-type(1) #main_box div.b > table > tbody > tr > td > table > tbody > tr {
                width: 100% !important;
                display: block;
                margin: 0 !important;
                height: auto !important
            }

    .cl30 {
        padding: 0
    }

    .fixed {
        position: fixed;
        top: 0;
        height: 0
    }

    body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table > tbody > tr > td:nth-of-type(4) > div:nth-of-type(1) form #main_box div.b > table > tbody > tr table {
        width: 100% !important;
        display: block
    }

    body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table > tbody > tr > td:nth-of-type(4) > div form #main_box div.b > table > tbody > tr > td > table > tbody > tr {
        text-align: left
    }

        body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table > tbody > tr > td:nth-of-type(4) > div form #main_box div.b > table > tbody > tr > td > table > tbody > tr > td textarea {
            width: 230px !important
        }

    #box_tim {
        width: 100%;
        background: #1d9ce5;
        height: auto
    }

    .long tr {
        width: 100% !important;
        display: block
    }

        .long tr > td:nth-of-type(1) {
            width: 80%
        }

    .long .long1, .long .long2, .input-search {
        display: none
    }

    .long1 {
        margin-top: 10px
    }

    .chon-mang {
        width: 98%
    }

    .mang, .stt, .gio, .dau-so, .select, .vi-du, .none {
        display: none !important
    }

    .menu li a {
        color: #0098db
    }

    .menu {
        background: #fff
    }

    .dat-mua a {
        color: #fff !important;
        background: #1d9ce5 !important;
        width: 70%;
        margin: 0 auto;
        display: block
    }

    .tampx {
        padding-left: 0
    }

    body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table > tbody > tr > td:nth-of-type(4) {
        margin-top: -28px
    }

    .long tr > td.tim-sim-so {
        width: 100%;
        display: block
    }

    .chon-mang {
        display: none
    }

    #main_box div.h {
        color: #555;
        background: #DAEEFF;
        border-radius: 0;
        text-align: center;
        border-color: #ddd;
        font-weight: inherit;
        border-top: 1px solid #0098db;
        border-bottom: 1px solid #0098db
    }

    .fullwidth {
        width: 100%;
        display: block
    }

    .floatleft {
        display: block;
        float: left
    }

    #main_box div.b {
        border: none
    }

    #box_tim2 {
    }

    .nuttim {
        height: 41px;
        background-size: cover
    }

    body > table > tbody > tr > td > table > tbody > tr:nth-of-type(1) > td > table tr td table img.images-menu {
        width: 40px !important;
        float: left;
        padding-left: 5px;
        padding-top: 2px
    }

    .menu li a {
        padding-top: 3px
    }

    .menu-mang {
        position: absolute;
        background: #1d9ce5;
        width: 70%
    }

    .an-menu {
        font-size: 14px;
        text-align: center;
        width: 100%;
        cursor: pointer;
        display: block;
        padding: 10px 0;
        color: #555;
        background: #DDD;
        font-weight: 100
    }

    ul#navmenu a {
        text-align: left;
        color: #fff;
        padding: 5px 15px;
        font-size: 14px
    }

    ul#navmenu li {
        border-bottom: 1px solid #fff;
        width: 100%
    }

    ul#navmenu {
        width: 100%;
        height: auto
    }

    .box_c {
        border: none;
        width: 100%
    }

    .menu ul#navmenu li {
        display: block
    }

    .carot {
        content: "";
        display: inline-block;
        width: 1px;
        height: 1px;
        color: #fff;
        margin-left: 10px;
        vertical-align: middle;
        border-top: 4px dashed;
        border-top: 4px solid \9;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent
    }

    ul#navmenu ul {
        display: none !important
    }

    .phone {
        position: fixed;
        width: 100%;
        background: #018f99;
        display: block;
        bottom: 0;
        color: #fff
    }

        .phone a {
            color: #FF0;
            font-size: 18px;
            font-weight: 700;
            padding-bottom: 10px;
            padding-top: 10px;
            display: inline-block
        }

    .phone-images {
        color: #FF0;
        padding-top: 10px
    }

    .phone img {
        margin-bottom: -5px
    }

    body > table > tbody > tr > td > table > tbody > tr:nth-of-type(2) > td > table > tbody > tr > td:nth-of-type(4) > div:nth-of-type(1) #main_box div.b > table.cam-on > tbody > tr > td {
        width: 100% !important
    }

    #tables td > input, #tables td > select {
        border: none
    }

    #tables tr td.cl31 {
        padding: 5px 0 0;
        width: 40% !important;
        border-right: 1px solid #999;
        height: 26px !important;
        float: left
    }

    #tables tr td.cl32 {
        padding: 5px 0 0;
        width: 60% !important;
        height: 26px !important
    }

    .dathat-form #tables tr {
        display: flex !important;
        border-bottom: 1px solid #999
    }

    #tables tr td.cl32 select {
    }

    #tables tr.top-tr {
        border-top: 1px solid #999
    }

    #tables tr td > input, #tables tr td > select {
        width: 100% !important;
        padding: 0 !important
    }

    #tables tr.none .tong-tien {
        width: 100%;
        padding-left: 10px !important;
        text-align: right;
        padding-right: 10px
    }

    .form-textarea {
        width: 100% !important
    }

    #tables tr td.dat-mua {
        line-height: 20px
    }

    #main_box .b h1 {
        margin-top: 30px !important
    }

        #main_box .b h1 span {
            font-size: 15px !important;
            line-height: 20px
        }

    center h2 {
        margin-bottom: 10px
    }

    #tables tr td.cl32 input {
        padding: 10px !important;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 16px !important;
        width: 98% !important
    }

    #tables tr td.cl32 {
        width: 100% !important
    }

    #main_box #tables tbody > tr {
    }

        #main_box #tables tbody > tr.metvkl {
            background: none !important;
            border: none;
            height: 50px
        }

        #main_box #tables tbody > tr.metvkl2 {
            height: 120px
        }

    #tables tr td.cl32 input.go {
        width: 110px !important;
        margin: 0 auto;
        text-align: center;
        float: none
    }

    #tables tr td.cl32 select {
        padding: 10px !important;
        margin: 8px 0;
        display: inline-block;
        height: 40px !important;
        width: 98% !important
    }

    .boder-table tbody {
        margin-top: 10px
    }

    .datmua-sosim a {
        font-size: 26px !important;
        color: red
    }

    .none123 {
        width: 100% !important
    }

    .box {
        width: 100%
    }

    #newsticker-demo {
        display: none
    }

    .metvkl label {
        display: none
    }

    #main_box #tables tbody > tr.metvkl2 {
        height: 120px;
        margin-bottom: 0
    }
}

.center-home .mobile img {
    width: auto !important
}

.center-home .mobile.sim-tra-gop {
    width: 157px
}

.menu li a {
    letter-spacing: -1px
}

.block {
    display: block !important
}

.long {
    border: 1px solid #ddd
}

.text-sim {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px
}

.chon-loai-so li, .chon-mang-sim2 li, .chon-khoang-gia-sim2 li, .chon-gia-sim2 li, .chon-dau-so li {
    width: 100%;
    padding: 7px;
    background: #fff;
    border-bottom: 1px solid #ddd
}

.chon-loai-so ul, .chon-dau-so ul, .chon-mang-sim2 ul, .chon-gia-sim2 ul, .chon-khoang-gia-sim2 ul {
    overflow: visible;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.1);
    padding: 0 0 0 10px;
    position: absolute;
    text-align: left;
    display: none;
    z-index: 11
}

    .chon-loai-so ul:before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        bottom: 100%;
        left: 40%;
        border-bottom: 10px solid #d9d9d9;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent
    }

.chon-loai-so li:nth-of-type(2), .chon-mang-sim2 li:nth-of-type(2), .chon-gia-sim2 li:nth-of-type(2) {
    top: 29px
}

.chon-loai-so li:nth-of-type(3), .chon-mang-sim2 li:nth-of-type(3) {
    top: 58px
}

.chon-mang-sim2 li:nth-of-type(4) {
    top: 87px
}

.chon-loai-so ul li {
    width: 87%
}

.chon-loai-so li a {
    width: 100%;
    display: block
}

.chon-loai-so {
    float: left;
    text-align: left;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative
}

    .chon-loai-so h4:after {
        content: '';
        width: 0;
        height: 0;
        border-top: 6px solid #288ad6;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        display: inline-block;
        vertical-align: middle;
        margin-left: 1px
    }

.tat-ca {
    display: inline-block;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    color: #288ad6;
    padding-left: 10px;
    cursor: pointer;
    line-height: 40px
}

.chon-mang-sim2, .chon-dau-so, .chon-gia-sim2, .chon-gia-sim2 {
    float: left;
    text-align: left;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative
}

    .chon-mang-sim2 h4:after, .chon-dau-so h4:after, .chon-gia-sim2 h4:after, .chon-khoang-gia-sim2 h4:after {
        content: '';
        width: 0;
        height: 0;
        border-top: 6px solid #288ad6;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        display: inline-block;
        vertical-align: middle;
        margin-left: 1px
    }

.xep-gia span {
    display: inline-block;
    overflow: hidden;
    font-size: 14px;
    color: #288ad6;
    padding-left: 10px;
    cursor: pointer;
    line-height: 40px
}

.menu2, .huongdan, .sim-nam-sinh {
    display: none
}

.nuttim {
    height: 36px;
    position: absolute
}

.news {
    padding: 10px 0
}

@media only screen and (min-width: 1024px) and (max-width: 1365px) {
    .hotline-right a {
        /*text-shadow: 2px 2px 2px #656565;
        position: relative;
        background: #ff9800;
        color: #fff !important;
        font-size: 16px;
        border-radius: 50px;
        padding: 8px 8px 8px 37px;
        display: block;*/
        /*width: 11vh !important;*/
    }
}

@media (min-width: 767px) and (max-width: 2100px) {
    #main_box div.h {
        padding: 8px 0 5px;
        background: #3097d1;
        color: #fff
    }

    .menu-home li {
        /*background: url(../images/border.gif) no-repeat*/
    }

        .menu-home li a {
            padding: 0 20px
        }

        .menu-home li:nth-of-type(1) {
            background: none
        }

    .menu-home ul {
        height: 38px
    }

    .menu li a {
        text-transform: uppercase
    }

    #footer1 {
        display: inline-block
    }

        #footer1 .col-md-4 {
            width: 30%;
            color: #666;
            line-height: 20px;
            float: left;
            padding: 0 1%;
            font-size: 14px
        }

            #footer1 .col-md-4 span {
                margin-top: 20px;
                display: inline-block;
                margin-bottom: 20px
            }

            #footer1 .col-md-4 img {
                float: left;
                max-width: 100%;
                height: auto;
                display: -webkit-inline-box
            }

    .destop {
        display: none !important
    }

    #box_tim {
        width: 100%
    }

        #box_tim > div {
            padding-top: 0 !important;
            position: relative
        }

    #csearch {
        width: 100%
    }

    .nuttim {
        right: 9px;
        top: 1px;
        height: 34px;
        border: 1px solid #fff
    }

    .huongdan {
        display: block
    }

    .tim-sim-so #soption2 {
        background: #3097d1;
        display: inline-block;
        width: 100%;
        height: 111px
    }

    .none123 {
        display: inline-block;
        margin-top: 5px
    }

    .long1 {
        margin-top: 5px
    }

    .long1, .long2, #soption {
        display: none
    }

    .center-home {
        width: 650px;
        margin-top: 0px
    }

    .long2 {
        margin: 10px auto;
        width: 460px
    }

    .dat-mua a {
        color: #fff !important;
        background: #1d9ce5 !important;
        width: 60%;
        padding: 5px 10px;
        margin: 0 auto;
        display: block
    }

    .box_c {
        border-radius: 0
    }

    #box_tim ul {
        margin: 0;
        list-style-type: disc;
        padding-top: 6px
    }

        #box_tim ul.huongdan li {
            display: list-item;
            color: #fff;
            list-style-type: disc;
            line-height: initial;
        }

    .sim-nam-sinh {
        display: block;
        margin-top: 10px;
        text-align: left;
        margin-bottom: 5px;
        margin-left: 1px
    }

    ul#navmenu a {
        color: #000;
        padding: 0 10px
    }

        ul#navmenu a:hover, ul#navmenu li:hover a, ul#navmenu li.iehover a, ul#navmenu ul li a {
            color: #000 !important
        }

    .tintuc-moi ul {
        border: 1px solid #d3e0e9;
        padding: 10px
    }

        .tintuc-moi ul li {
            border-bottom: 1px solid #d3e0e9;
            padding: 5px 0
        }

            .tintuc-moi ul li a {
                font-size: 12px
            }
}

.goi-y-link {
    display: inline-block;
    list-style: disc;
    padding: 10px
}

    .goi-y-link li {
        float: left;
        width: 20%
    }

.tim-ntns {
    border: 1px solid #fff;
    background: #1d9ce5;
    color: #fff;
    padding: 4px 10px;
    margin-top: 10px;
    width: 82%
}

.simsodep select {
    width: 27%
}

.sim-dep {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    height: auto
}

    .sim-dep li {
        line-height: 26px;
        position: relative;
        padding: 0 15px;
        padding-top: 5px;
        border-bottom: 1px solid #ddd;
        color: #005064 !important;
        font-weight: 700;
        width: -webkit-fill-available;
        text-align: left;
        margin: 0 0 -1px
    }

        .sim-dep li a {
            color: #005064 !important;
            font-weight: 700;
            padding: 0;
            line-height: inherit;
            font-size: 13px
        }

.simsodep {
    border: 1px solid #ddd;
    background: url(../images/timns_bg.png) no-repeat;
    display: inline-block;
    background-size: cover;
    margin-bottom: 10px;
    padding-top: 30px;
    border-radius: 5px
}

    .simsodep .box_c {
        border: none
    }

.tim-sim-ntn {
    color: #008dde;
    font-size: 15px;
    padding-left: 100px;
    display: inherit
}

.ntn {
    color: #008dde;
    font-size: 13px;
    padding-top: 20px;
    padding-left: 20px;
    display: inherit;
    padding-bottom: 5px
}

.hotlinebottom {
    display: none
}

#chonkhoanggiabg {
    display: none
}

.goi-y-link li a {
    text-align: left;
    float: left;
    font-weight: 700;
    background: url(../images/icon-li-ns.png) left no-repeat;
    padding-left: 15px;
    font-size: 13px;
    line-height: 20px
}

@media (max-width: 767px) {
    .menu li {
        padding: 6px 8px 0 3px
    }

    .hotlinebottom {
        position: fixed;
        display: block;
        bottom: 15px;
        left: 9px
    }

    .goi-y-link li {
        float: left;
        width: 50%
    }

    #chonkhoanggiabg .hotro {
        float: left;
        width: 45%;
        background: #fff;
        height: 100%;
        z-index: 1234
    }

    .right-den {
        width: 55%;
        float: right;
        background: #000;
        opacity: .5;
        height: 100%
    }

    #chonkhoanggiabg {
        bottom: 0;
        height: 100%;
        z-index: 999999;
        width: 100%;
        position: fixed
    }

    .hotlinebottom .tang7 {
        z-index: 9;
        line-height: 37px;
        color: #fff;
        font-weight: 700;
        font-size: 21px;
        position: fixed;
        bottom: 15px;
        left: 9px;
        padding: 0 10px 0 37px;
        height: 36px;
        background: #4caf50;
        box-shadow: 0 4px 5px -1px rgba(0,0,0,.5);
        border-radius: 50px
    }

    #phone span {
        display: inline-block;
        width: 36px;
        height: 36px;
        background: url(../images/phone0.png) no-repeat top;
        -webkit-animation: Rotate 1300ms linear 1300ms 5;
        animation: Rotate 1300ms linear 1300ms 5;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite
    }

    #phone {
        position: absolute;
        top: 7px;
        left: 0
    }

        #phone + div {
            border: 1px solid #fff;
            width: 34px;
            height: 34px;
            position: absolute;
            border-radius: 50px;
            left: 0;
            top: 0
        }

    #footer1 .col-md-4 {
        width: 98%;
        color: #666;
        line-height: 20px;
        float: left;
        padding: 0 1%;
        margin-bottom: 10px;
        font-size: 14px
    }

    #main_box div.h {
        padding: 8px 0 5px;
        background: #3097d1;
        color: #fff
    }

    #footer1 {
        display: inline-block;
        padding: 0px !important
    }

        #footer1 .col-md-4 span {
            margin-top: 20px;
            display: inline-block;
            margin-bottom: 20px
        }

        #footer1 .col-md-4 img {
            float: left;
            max-width: 100%;
            height: auto;
            display: -webkit-inline-box
        }

    .ntn {
        padding-left: 30px;
        font-size: 15px
    }

    .simsodep select {
        box-shadow: none !important;
        background: none !important
    }

    .tim-sim-ntn {
        padding: 12px 10px 0 110px;
        font-size: 17px
    }

    .simsodep {
        width: 100%;
        border-left: none;
        border-right: none;
        margin: 50px 0 70px
    }

        .simsodep select {
            font-size: 20px
        }

    .tim-ntns {
        font-size: 20px
    }

    #simsodep {
        margin-bottom: 20px;
        display: inline-block
    }

    .center-home .sim-namsinh, .center-home .sim-so-dep {
        position: absolute;
        width: 100%;
        background: #fff;
        opacity: 1;
        border: 0;
        left: 0;
        padding: 0;
        border-top: 1px solid #ddd
    }

        .center-home .sim-namsinh li, .center-home .sim-so-dep li {
            float: left;
            display: block;
            width: 49%;
            border-right: 1px solid #ddd;
            border-left: 1px solid #ddd
        }

        .center-home .sim-namsinh.block, .center-home .sim-so-dep.block {
            display: block
        }

    .sim-tra-gop > a {
        color: red !important
    }

    #soption {
        display: none
    }

    .sim-nam-sinh {
        display: block
    }

    .menu2 {
        display: block;
        border-bottom: 1px solid #ddd
    }

    #main_box .b h1 {
        margin-top: 0px !important
    }

    .nuttim {
        position: absolute;
        border-radius: 0 2px 2px 0;
        color: #fff;
        padding: 10px 20px;
        height: 42px;
        margin-top: 0;
        cursor: pointer;
        text-align: center;
        right: 20px
    }

    #csearch {
        width: 90%
    }

    #box_tim ul {
        margin: 0;
        list-style-type: disc;
        padding-top: 10px
    }

        #box_tim ul.huongdan li {
            display: list-item;
            color: #fff;
            list-style-type: disc;
            line-height: initial
        }

    .huongdan {
        padding-top: 10px
    }

    .sim-nam-sinh {
        margin-top: -5px;
        margin-bottom: 5px;
        text-align: left;
        padding-top: 10px;
        padding-left: 10px
    }

    .long1 {
        padding-top: 10px;
        margin-top: 0;
        background: #fff
    }

    .long2 {
        background: #fff
    }

    #soption {
        background: #fff;
        margin-top: 0;
        padding-top: 6px
    }

    .fixed {
        width: 100%
    }

    .nonex2 h2 {
        font-size: 20px;
        padding: 10px 0
    }

    .news {
        padding-bottom: 40px
    }

    .giatien h2 {
        font-size: 20px;
        padding: 10px 0
    }

    .giatien {
        width: 100%;
        margin-bottom: 30px !important;
        display: inline-block;
        padding-bottom: 5px
    }

        .giatien ul#navmenu {
            height: auto;
            padding-top: 0px
        }

    .menu2.fixed {
        margin-top: 0 !important;
        background: #fff;
        z-index: 1111;
        height: 40px
    }

    .giatien ul#navmenu li {
    }

        .giatien ul#navmenu li a {
            color: #005064 !important;
            font-weight: 700;
            padding: 9px 15px;
            display: inline-block;
            line-height: inherit
        }

            .giatien ul#navmenu li a::before {
                display: none;
                padding: 0 10px
            }

    .long {
        z-index: 111111
    }

    .sim-dep li {
        line-height: initial;
    }

    .sim-dep {
        margin-bottom: 20px
    }

    .sang-trai {
        padding: 8px 10px !important;
    }

    .center-home {
        margin-bottom: 20px
    }

    .chon-loai-so li, .chon-dau-so li, .chon-dau-so li, .chon-mang-sim2 li, .chon-gia-sim2 li, .chon-khoang-gia-sim2 li {
        padding: 0px;
    }

        .chon-loai-so li a, .chon-mang-sim2 li a, .chon-gia-sim2 li a, .chon-khoang-gia-sim2 li a, .chon-dau-so li a {
            width: 100%;
            padding: 7px;
            display: block;
            font-size: 14px;
        }
}

.so11 {
    background: url("../images/re.gif") no-repeat right;
    padding-right: 28px;
    padding-top: 20px;
}

.tintuc li a {
    font-size: 13px;
    line-height: 22px;
    padding: 10px
}

.page-step {
    margin-top: 15px;
    margin-left: 10px;
}

.mo-ta {
    background: #e5e6d5;
}

.seo-meta {
    width: 1200px;
    margin: 0px auto;
    padding-top: 10px;
}

.menu li.mobile a {
    font-size: 13px;
    text-transform: uppercase;
}

#soption4 {
    padding: 1px 0 20px 0;
    background: #2196F3;
    color: #fff;
    text-align: center;
}

.chudo .panel-heading h2.panel-title {
    text-align: center;
}

.style11 {
    width: 100%;
    text-align: center;
}

#soption4 table {
    background: #c7eeff;
    border: 1px solid #ccc;
    padding: 10px;
    width: 320px;
    margin: 0 auto;
}

    #soption4 table tr input {
        width: 100%;
        padding: 10px 10px;
        margin: 3px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    #soption4 table tr td, #soption4 table tr {
        width: 100%;
        display: inline-block;
    }

.raoban-submit {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
    display: inline-block;
    padding: 3px 8px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.xemthem a {
    background: #3097d1;
    color: #fff !important;
    cursor: pointer;
    padding: 6px 16px;
    text-decoration: none !important;
    float: right;
    border-radius: 15px;
    font-size: 10px !important;
    margin: 0;
    display: inline-block;
    line-height: normal;
}

.center-home #box_tim img#loading_div {
    width: 95px !important;
    margin-top: 77px;
    margin-bottom: 10px;
}

.xemthem {
    margin-top: 5px;
    margin-right: 10px;
    float: right;
}

#xem-them {
    display: none;
}

.sim-dep-li {
    float: left;
    position: relative;
    width: 33.333%;
}

.simcard {
    background: #fff;
    height: auto;
    border: 1px solid #ccc;
    padding: 13px;
    border-radius: 5px;
    box-shadow: 1px 1px #dadada;
    text-align: right;
}

    .simcard:hover {
        background-color: #f6dcdc;
    }

    .simcard .Viettel, .simcard .Mobifone, .simcard .Vinaphone, .simcard .Vietnamsim {
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        left: 11px;
    }

    .simcard .Viettel {
        background-image: url("images/spritestlvn.png");
        background-position: -354px -4px;
    }

    .simcard .Vinaphone {
        background-position: -422px -3px;
        background-image: url("images/spritestlvn.png");
    }

    .simcard .Mobifone {
        background-image: url("images/spritestlvn.png");
        background-position: -142px -4px;
    }

.sprite-sale {
    width: 45px;
    height: 26px;
    position: absolute;
    left: 5px;
    top: 10px;
}

.spritestlvn {
    background-repeat: no-repeat;
    display: block;
    line-height: 30px;
    background-size: cover;
    vertical-align: middle;
    background-image: url("images/sales.gif");
}

.simdep-km-sim {
    font-size: 16px;
    margin: 10px 0;
    padding: 0px;
    padding-top: 8px;
}

    .simdep-km-sim a, .simvip-mb .sim-vt a, .sim-vt a {
        font-size: 16px;
        color: #333;
    }

.sim-vt {
    font-size: 16px;
    margin: 10px 0;
    padding: 0px;
    padding-top: 8px;
    text-align: left;
    clear: both;
}

.simdenho-vt .sim-vt > a {
    background: url("./images/logoviettel.png") top left 5px no-repeat;
    color: black;
    background-size: contain;
    width: 155px;
    line-height: 21px;
    padding-left: 48px;
    float: left;
    height: 23px;
    display: block;
    margin-bottom: 5px;
}

.simdenho-vn .sim-vt > a {
    background: url("./images/logovina.gif") top left 5px no-repeat;
    color: black;
    background-size: contain;
    width: 175px;
    line-height: 21px;
    padding-left: 33px;
    float: left;
    height: 23px;
    margin-bottom: 5px;
    display: block;
}

.simdenho-mb .sim-vt > a {
    background: url("./images/logomb.gif") top left 5px no-repeat;
    color: black;
    background-size: contain;
    width: 175px;
    line-height: 21px;
    padding-left: 55px;
    float: left;
    height: 23px;
    margin-bottom: 5px;
    display: block;
}

.number_01 {
    height: 42px;
    line-height: 50px;
    font-size: 30px;
    padding-left: 52px;
    margin-bottom: 2px;
    position: relative;
}

.simvip-mb .sim-vt {
    padding-left: 45px;
    padding-top: 18px;
    text-align: left;
}

.simvip-mb .spritestlvn {
    background-image: url('images/vip.gif');
    width: 32px;
    height: 31px;
}

.simvip-mb {
    position: relative;
    display: block;
    clear: both;
}

.style10 {
    float: left;
    width: 60%;
}

.background-card {
    float: right;
    width: 38%;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin: 5px;
    height: 152px;
    position: relative;
}

.Viettel3 {
    background-image: url("../../Content/Images/logo-nha-mang/card-viettel.gif");
}

.Vinaphone3 {
    background-image: url("../../Content/Images/logo-nha-mang/card-vina.gif");
}

.Mobifone3 {
    background-image: url("../../Content/Images/logo-nha-mang/card-mobi.gif");
}

.Vietnammobile3 {
    background-image: url("../../Content/Images/logo-nha-mang/card-vietnam.gif");
}

.default3 {
    background-image: url("../../Content/Images/logo-nha-mang/no-image-carrier.png");
}

.background-card span {
    font-size: 20px;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 20px;
    width: 100%;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 0 #414a59;
}

.khoang-gia {
    margin-left: 50px;
}

.simdenho-vt, .simdenho-vn, .simdenho-mb {
    display: inline-block;
}

.simdep-ul li:nth-of-type(1) {
    clear: both;
}

.simdenho-vt li:nth-of-type(1), .simdenho-vn li:nth-of-type(1), .simdenho-mb li:nth-of-type(1) {
    clear: both;
}

.chon-loai-so li a, .chon-mang-sim2 li a, .chon-khoang-gia-sim2 li a, .chon-gia-sim2 li a, .chon-dau-so li a {
    font-size: 14px;
}

.simcard .Gmobile {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    background: url(images/im2.png) 0 -74px;
    margin-top: -9px;
}

.Gmobile2 {
    width: 200px;
    border-top: 0;
    padding: 0;
    height: 20px;
    background-color: #fff;
    background: url("images/im2.png") 0 -91px no-repeat;
    margin-left: 50px;
}

.Gmobile3 {
    background-image: url("images/gmobile.jpg");
    margin-top: 15px;
}

    .Gmobile3 span {
        color: #000;
    }

@media screen and (min-width: 1200px) {
    .so10 {
        margin-left: 70px;
    }

    .chon-gia-sim2 {
        margin-left: 50px;
    }

    .chon-mang-2 {
        margin-left: 40px;
    }

    #onclick-block {
        display: none;
    }

    .footership {
        width: 1100px;
        margin: 0px auto;
    }

    #xem-them {
        display: block;
        text-decoration: underline;
        color: blue;
        cursor: pointer
    }
}

.bn-left, .bn-right {
    display: none;
}

.sim-dep li a {
    text-transform: capitalize;
}

.re {
    background: url(../images/re.gif) no-repeat right top 0px;
    background-size: 28px;
    padding-right: 35px;
    padding-top: 4px;
}

@media screen and (min-width: 1600px) {
    .bn-left, .bn-right {
        display: block;
        position: absolute;
    }

    .bn-left {
        top: 0px;
        left: 3.6%;
    }

    .bn-right {
        top: 0px;
        right: 3.6%;
    }
}

label.show-menu {
    display: none;
}

.main-menu .show-menu {
    text-align: center;
    padding: 10px 0;
    display: none;
}

#box_tim > .menu, .show {
    display: none;
}

@media (max-width: 767px) {
    .sim-dep-li {
        float: left;
        position: relative;
        width: 50%;
    }

    .chon-dau-so li .re {
        background: url("../images/re.gif") no-repeat right 70px top 5px;
    }

    .loai-sim {
        display: none;
    }

    #footer-nav {
        height: auto !important;
        padding: 0 10px;
    }

    label.show-menu {
        padding: 5px;
        display: none;
        position: absolute;
        right: 5px;
        top: 6px;
        line-height: 2px;
        background: #005E94;
        width: 38px;
        font-size: 13px;
        height: 42px;
    }

    .menu-home ul {
        height: 238px;
        background: #3097d1;
        display: none;
        padding-left: 0px;
    }

    .menu-home li {
        display: block !important;
        width: 100%;
        box-shadow: 0 1px 12px 0 #ccc;
        padding-top: 0px;
    }

    .menu-home .show ul {
        background: none;
        height: auto;
    }

    .show .giatien ul#navmenu li a {
        padding: 1px 11px;
        font-size: 13px;
    }

    .show .giatien {
        margin-bottom: 0px !important;
        padding-bottom: 0px;
    }

    .show h3 {
        padding: 1px 13px;
    }

    .show .sim-dep li a {
        padding: 6px 11px;
    }

    .show .giatien ul#navmenu li, .show .box ul li {
        width: 100%;
        text-align: center;
        box-shadow: none;
    }

        .show .box ul li a, .show .giatien ul#navmenu li a {
            text-transform: uppercase;
        }

    .show .sim-dep {
        padding-left: 0px;
    }

    .sim-tra-gop img {
        width: auto !important;
    }

    .menu-home li a {
        text-transform: uppercase;
        color: #fff;
        font-size: 14px;
        letter-spacing: 0;
    }

    .sim-tra-gop a {
        width: 140px;
        margin: 0px auto;
    }

    #show-menu-btn {
        width: 38px;
        height: 36px;
        position: relative;
        cursor: pointer;
    }

        #show-menu-btn span:nth-child(1) {
            top: 0px;
        }

        #show-menu-btn span:nth-child(2) {
            top: 10px;
        }

        #show-menu-btn span:nth-child(3) {
            top: 20px;
        }

    .show-menu {
        color: #FFF;
        font-weight: bold;
        text-transform: uppercase;
    }

    #show-menu-btn span {
        position: absolute;
        height: 2px;
        width: 100%;
        border-radius: 2px;
        opacity: 1;
        left: 0;
        background: #fff;
    }

    #box_tim ul {
        padding-top: 0px;
    }

        #box_tim ul.huongdan {
            padding-top: 10px;
        }

    .seo-meta {
        width: 100%;
    }

    .page-step {
        display: none;
    }

    #tables tr td.tampx {
        padding: 8px 2px 8px 10px !important;
    }

    .sim-dep-li span {
        font-size: 16px !important;
    }

    .sim-dep-li font {
        font-size: 14px !important;
    }

    .fullwidth {
        float: none;
        width: 100%;
    }

    .background-card {
        width: 100%;
        float: none;
        background-position: center;
    }

    #tables tr td.tampx font {
        font-size: 15px !important;
    }

    #main_box div.h {
        line-height: 23px;
        font-weight: bold;
    }

    #tables tr td.cl32 input.go {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px !important;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .giatien ul#navmenu, .sim-dep {
        margin-top: 1px;
        columns: 177px 2;
        column-gap: 0px;
        border: 1px solid #ccc;
    }

        .giatien ul#navmenu li, .sim-dep li {
            position: relative;
            display: block;
            width: auto;
            padding: 0px;
            margin: 0 0 -1px 0;
            background-color: #fff;
            border: 1px solid #ddd;
            color: #005064 !important;
            font-weight: bold;
        }

    .giatien #simsodep {
        margin-bottom: 0px;
    }

    .sim-dep li a {
        color: #005064 !important;
        font-weight: 700;
        padding: 9px 15px;
        display: inline-block;
        line-height: inherit;
        font-size: 13px;
        text-transform: capitalize;
    }

    .chon-dau {
        margin-left: 15px !important;
    }

    .khoang-gia {
        width: 30% !important;
        margin-left: 10px;
    }

    .xep-gia {
        width: 25% !important;
    }

    .chon-mang-2 {
        width: 30% !important;
    }

    #main_box #tables tbody > tr.nguon {
        display: none !important;
    }

    .center-home #box_tim img#loading_div {
        margin-top: 0px;
    }

    .simdep-ul li:nth-of-type(1) {
        clear: both;
    }

    .simdenho-vt, .simdenho-vn, .simdenho-mb {
        display: inline-block;
    }

    .sim-vt {
        text-align: left;
    }

        .simdep-km-sim a, .simvip-mb .sim-vt a, .sim-vt a {
            font-size: 14px;
        }

    .simdenho-mb .sim-vt > a {
        width: 155px;
    }

    .chon-loai-so ul, .chon-dau-so ul, .chon-mang-sim2 ul, .chon-gia-sim2 ul, .chon-khoang-gia-sim2 ul {
        width: 150px;
    }

    .datmua-mang2 {
        text-align: center;
        width: 100%;
    }

    .giaofree {
        padding: 0px !important;
        text-align: center !important;
    }
}

@media (max-width: 321px) {
    .center-home .mobile.sim-tra-gop {
        width: 130px;
        padding: 6px 0px;
    }

    .tat-ca {
        font-size: 12px;
    }

    .menu li.mobile a {
        font-size: 11px;
    }

    #main_box .b h1 span {
        text-align: left;
        font-size: 14px !important;
        display: -webkit-inline-box;
        line-height: 16px !important;
    }
}

.simcard .Viettel {
    background-image: url(image/spritestlvn.png);
    background-position: -354px -4px;
}

.simcard .Vinaphone {
    background-position: -422px -3px;
    background-image: url(image/spritestlvn.png);
}

.simcard .Mobifone {
    background-image: url(image/spritestlvn.png);
    background-position: -142px -4px;
}

.simcard .Vietnamsim {
    background-image: url(image/spritestlvn.png);
    background-position: -285px -4px;
}

.phone_sp {
    color: #337ab7;
    font-size: 15pt;
    font-weight: bold;
}

a:hover {
    text-decoration: none !important;
}

.logo-vip {
    width: 30px;
    height: 27px;
    position: absolute;
    left: 10px;
    top: 1px;
    background-repeat: no-repeat;
    display: block;
    line-height: 30px;
    background-size: cover;
    vertical-align: middle;
    background-image: url(images/vip.gif);
}

.logo-hot {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 1px;
    background-repeat: no-repeat;
    display: block;
    line-height: 30px;
    background-size: cover;
    vertical-align: middle;
    background-image: url(images/hot.png);
}

.logo-viettel {
    width: 30px;
    height: 23px;
    position: absolute;
    left: 10px;
    top: 4px;
    background-repeat: no-repeat;
    display: block;
    line-height: 30px;
    background-size: cover;
    vertical-align: middle;
    background-image: url(images/logoviettel.png);
}

.logo-vina {
    width: 30px;
    height: 23px;
    position: absolute;
    left: 10px;
    top: 4px;
    background-repeat: no-repeat;
    display: block;
    line-height: 30px;
    background-size: cover;
    vertical-align: middle;
    background-image: url(images/logovina.gif);
}

.logo-mobi {
    width: 34px;
    height: 117px;
    position: absolute;
    left: 12px;
    top: 1px;
    background-image: url(./image/spritestlvn.png);
    background-position: -151px -12px;
}

.logo-random {
    width: 34px;
    height: 117px;
    position: absolute;
    left: 12px;
    top: 1px;
    background-image: url(./image/spritestlvn.png);
    background-position: -224px -15px;
}

#tables tbody > tr {
    /*border-top: 15px solid white;*/
}

.chon-sim-title {
    height: 35px;
    font-size: 22px;
    padding-left: 10px;
    margin: 2px 0px 0px 0px;
    font-weight: bold;
    color: #030303;
}

.a-xemthem {
    padding: 3px 16px !important;
    text-decoration: none !important;
    float: right !important;
    font-size: 13px !important;
    color: #fd0000;
}

.next {
    border: none !important;
}

.product-view {
    color: #1555ec;
    font-weight: bold;
    font-size: 15px;
}

.price-view {
    color: #900505;
    font-weight: bold;
    float: right;
    padding-right: 35px;
}

.hotline-right {
    line-height: 25px;
    /*text-align: left;*/
    /*padding: 10px 0px 0px 3vh;*/
}

    .hotline-right a {
        text-shadow: 2px 2px 2px #656565;
        position: relative;
        background: #ff9800;
        color: #fff !important;
        font-size: 16px;
        border-radius: 50px;
        padding: 8px 8px 8px 37px;
        display: block;
        /*width: 20vh;*/
    }

        .hotline-right a img {
            max-width: 100% !important;
            height: auto !important;
        }

.img-hotline {
    width: 41px;
    border-radius: 126px;
    position: absolute;
    left: 0px;
    top: 0;
}

.phone-div {
    border: 1px solid #fff;
    width: 25px;
    height: 25px;
    position: absolute;
    border-radius: 50px;
    left: 7px;
    top: 7px;
}

.group {
    zoom: 1;
}

.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

.col:first-child {
    margin-left: 0;
}

.span_7_of_12 {
    width: 58.33%;
}

.col {
    display: block;
    float: left;
}

.giao-hang {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    padding-left: 25px;
    margin-top: 10px;
}

.stt-w40 {
    width: 40px;
    text-align: center;
}

.number-w160 {
    width: 160px;
    text-align: center;
}

.carrier-w120 {
    width: 120px;
    text-align: center;
}

.price-w150 {
    width: 150px;
    text-align: center;
}

.badge-cart {
    position: relative;
    border-radius: 15px;
    /* min-width: 1.6875rem; */
    line-height: 1.9em;
    /* padding: 0 .2rem; */
    text-align: center;
    height: 1.2rem;
    /* border: .125rem solid #ee4d2d; */
    color: #ff570e;
    background-color: #fff;
    left: 0.9rem;
    top: -3.3rem;
    margin-right: 0rem;
    font-size: 7px;
    width: 15px;
}

.dropdown-menu-edit {
    min-width: auto !important;
    left: unset !important;
}

.dropdown-menu > li > button {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.menu-profile-duc {
    background: #fff !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    display: none;
    height: auto !important;
    opacity: unset !important;
    position: absolute !important;
    width: auto !important;
    z-index: 200 !important;
}

.log-off-customer {
    display: block;
    font-size: 12px;
    font-style: normal;
    padding: 0 10px 0 15px;
    text-align: left;
    line-height: 24px;
    border-bottom: 1px silver solid;
    background: none !important;
    border: none !important;
    font-weight: normal !important;
    color: #000 !important;
    text-transform: uppercase !important;
    width: 100% !important;
}

    .log-off-customer:hover {
        background: #E6E6E6 !important;
        color: #000 !important;
        opacity: 1 !important;
        filter: alpha(opacity=100) !important;
        border-bottom: 1px black solid !important;
    }

.form-order {
    border: 1px solid #ccc;
    background: #DAEEFF;
    margin-bottom: 10px;
    display: block;
    margin-top: 10px;
}

.btn-order {
    padding: 5px 10px;
    background: #54b4eb;
    color: #fff;
    margin-bottom: 10px;
}

#main_wrapper {
    margin: 0 auto;
    max-width: 972px;
    background-color: #f1f1f1;
}

.main_wrapper_pt {
    background-image: radial-gradient(closest-side, transparent 0%, transparent 75%, #efefef 76%, #efefef 85%, #efefef 86%, #efefef 94%,#f7f7f7 95%,#f7f7f7 103%, #efefef 104%, #efefef 112%, #efefef 113%, #efefef 121%,#f7f7f7 122%,#f7f7f7 130%, #efefef 131%, #efefef 140%), radial-gradient(closest-side, transparent 0%, transparent 75%, #efefef 76%, #efefef 85%, #efefef 86%, #efefef 94%,#f7f7f7 95%,#f7f7f7 103%, #efefef 104%, #efefef 112%, #efefef 113%, #efefef 121%,#f7f7f7 122%,#f7f7f7 130%, #efefef 131%, #efefef 140%);
    background-size: 40px 40px;
    background-color: #efefef;
    background-position: 0 0, 20px 20px;
}

.phongthuy_wp {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

    .phongthuy_wp form {
        background: url(images/form-phongthuy.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        padding: 40px;
    }

.form_phongthuy_controls {
    display: table;
    height: 30px;
    width: 100%;
    /*line-height: 30px;*/
}
.form_phongthuy select {
    background: #fff;
    border: 1px solid #d7d8d8;
    border-radius: 4px;
    color: #333;
    font-size: 14px;
    height: 32px;
    line-height: 25px !important;
    margin: 2px 6px 16px 0;
    outline: 0 none;
    text-indent: 0.01px;
    display: inline-block;
    width: 70px;
    float: left;
}
.form_phongthuy .form_left {
    float: unset;
    display: grid;
}
.form_phongthuy_controls label {
    font-weight: bold;
    float: left;
}
.form_phongthuy .radio_box input[type="radio"] {
    -webkit-appearance: radio;
    border: 0px;
    width: 20px;
    height: 20px;
    float: left;
}
.form_phongthuy .radio_box label {
    padding: 0 15px 0 4px;
}
.form_phongthuy .form_right {
    width: auto;
    float: left;
    display: inline-block;
    position: relative;
}
.form_phongthuy .radio_box {
    display: inline-block;
    margin-right: 0px;
}
.btn-phongthuy {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #d43f3a;
    background-color: #d9534f;
    color: #fff !important;
    margin: 0 5px 3px 0;
    box-shadow: 0px 1px 6px #000;
    text-shadow: 0px 1px 3px #000;
}
