﻿@model SimStore_DucPham.Models.OrderAddressViewModel
@using SimStore_DucPham.Helper
@using SimStore_DucPham.ViewModels
@using SimStore_DucPham.Models
@{
    int numProduct = 1;
    long countPrice = 0;
    Layout = "~/Views/Shared/_OrderLayout.cshtml";
}
@Html.Partial("AddressOrderPartial", Model)
<div class="container">
    <div class="row">
        <div class="col-md-12" style="padding: 0px 50px;">
            <div class="row">
                <div class="col-md-7 col-sm-12">
                    <div id="main_box" style="border-top: 1px solid #ddd;margin-top:5px;">
                        <div class="b">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class='chon-sim-title'>
                                        <div>
                                            Danh sách mặt hàng trong giỏ
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            @{
                                if (Model.Products.Count == 0)
                                {
                                    <div class="row">
                                        <div class="col-md-4">
                                        </div>
                                        <div class="col-md-4">
                                            <div>Giỏ hàng của bạn rỗng.</div>
                                        </div>
                                        <div class="col-md-4">
                                            <button type="button" id="btn-xem-tat-ca" class="btn btn-warning btn-sm  f-right">Tiếp tục mua hàng</button>
                                        </div>
                                    </div>

                                }
                                else
                                {
                                    <table style="width: 100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td class="" colspan="2" style="background-color:#fff">
                                                    <div id="body-cart2">
                                                        <table class="table table-bordered table-responsive">
                                                            <thead>
                                                                <tr>
                                                                    <th class="stt-w40">STT</th>
                                                                    <th class="text-center">Số sim</th>
                                                                    <th class="text-center">Mạng</th>
                                                                    <th class="text-center">Giá bán</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="cart-tbody">
                                                                @foreach (ProductViewModel product in Model.Products)
                                                                {
                                                                    <tr>
                                                                        <td class="stt-w40">@numProduct</td>
                                                                        <td class="text-center" style="font-weight: bold;color:#0098db;">@ConvertHelper.FormatPhoneNumber(product.Number)</td>
                                                                        <td class="text-center"><img style='width: 75px;height: 21px;' src='@product.CarrierImage' /></td>
                                                                        <td class="text-center" style="font-weight: bold;">@ConvertHelper.FormatPrice(product.Price)</td>
                                                                    </tr>
                                                                    numProduct++;
                                                                    countPrice += product.Price;
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    @*<div class="row f-right">
                                                            <div class="col-md-12">
                                                                <a href="/" class="btn btn-warning btn-sm">Tiếp tục mua hàng</a>
                                                            </div>
                                                        </div>*@
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12">
                    <div id="main_box" style="border-top: 1px solid #ddd;margin-top:5px;">
                        <div class="b">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 style="font-weight:bold;padding-left: 0px;">
                                        Xác nhận giao hàng
                                    </h3>
                                </div>
                            </div>
                            @{
                                <table style="width: 100%" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td class="" colspan="2" style="background-color:#fff">
                                                <div id="body-cart2">
                                                    @{
                                                        if (Model.Address == null)
                                                        {
                                                            <div class="col-md-12">
                                                                Bạn chưa có địa chỉ giao hàng nào.
                                                                <a class="btn-xs btn btn-info" href="/AddressOrders/Create">Thêm mới</a>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="row" style="margin-bottom: 5px;">
                                                                <div class="col-md-1"><span class="glyphicon glyphicon-map-marker"></span></div>
                                                                <div class="col-md-9">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <b>@Model.Address.FullName</b>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            @Model.Address.Address
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2"><button class="btn btn-xs btn-info" data-toggle="modal" data-target="#addressModal"><span class="glyphicon glyphicon-edit"></span> Đổi</button></div>
                                                            </div>
                                                            <div class="row" style="margin-bottom: 5px;">
                                                                <div class="col-md-1"><span class="glyphicon glyphicon-earphone"></span></div>
                                                                <div class="col-md-11">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <b>@Model.Address.PhoneNumber</b>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row" style="margin-bottom: 5px;">
                                                                <div class="col-md-1"><span class="glyphicon glyphicon-envelope"></span></div>
                                                                <div class="col-md-11">
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <b>@Model.Email</b>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                        <br />
                                                        <hr />
                                                        <div class="row">
                                                            <div class="col-md-12" style="text-align: right;">
                                                                <div style="font-weight:bold;">Tổng tiền: <span id="count-price" style="color:red;font-size: 20px;">@ConvertHelper.FormatPrice(countPrice)</span></div>

                                                                <sup><font size="1">( @ConvertHelper.PriceToString(countPrice) )</font></sup>
                                                            </div>
                                                        </div>
                                                        <hr />
                                                        if (Model.Address != null)
                                                        {
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <a class="btn btn-success btn-sm" href="/Order/DatHang" style="float: right;">Đặt hàng</a>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function SetAddress(id) {
            $.ajax({
                url: '/AddressOrders/SelectAddressJson',
                data: { id },
                type: 'post',
                dataType: 'json',
                success: function (res) {
                    location.replace("/order");
                },
                error: function () {
                    location.replace("/order");
                }
            });
        }
    </script>
    <script src="~/Scripts/Home/cartJS.js"></script>
}