﻿@{
    ViewBag.Title = "Sim Phong Thủy";
    Layout = "~/Views/Shared/_PhongThuyLayout.cshtml";
}
<br />
<div class="row">
    <div class="col-md-12">
        <h4 style="margin:0 0 15px 0;text-align: center;color: red;font-weight:bold;">Tìm sim phong thủy - Tìm số điện thoại hợp tuổi</h4>
        <div class="phongthuy_wp">
            <div class="form_phongthuy">
                <form style="position: relative;" >
                    <div class="form_phongthuy_controls text-center">
                        <div class="">
                            <div class="form_left">
                                <label>Ngày Sinh (Dương lịch)</label>
                            </div>
                            <div class="form_right" style="float: unset;">
                                <select class="combobox" name="ngaysinh" id="ngaysinh">
                                    <option selected="selected" value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                </select>
                                <select class="combobox" name="thangsinh" id="thangsinh">
                                    <option selected="selected" value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <select class="combobox combobox_namsinh" name="namsinh" id="namsinh">
                                    @{
                                        int yearNow = DateTime.Now.Year;
                                        for (int i = 1930; i < yearNow; i++)
                                        {
                                            <option value="@i">@i</option>
                                        }
                                    }
                                    <option selected="selected" value="@yearNow">@yearNow</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form_phongthuy_controls text-center">
                        <div>
                            <div class="form_left">
                                <label>Giới tính:&nbsp;&nbsp;</label>
                            </div>
                            <div class="form_right" style="float: unset;">
                                <div class="radio_box">
                                    <input checked="checked" type="radio" id="radio_1" value="nam" name="gioitinh">
                                    <label for="radio_1">Nam</label>
                                </div>
                                <div class="radio_box">
                                    <input type="radio" id="radio_2" value="nu" name="gioitinh">
                                    <label for="radio_2">Nữ</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form_phongthuy_controls text-center">
                        <div>
                            <input style="border: 1px dotted #FFEB3B;" type="button" class="btn-phongthuy" onclick="return CheckNgaySinh()" value="Tìm sim hợp tuổi">
                        </div>
                    </div>
                </form>
            </div>
            <br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p style=" font-size: 16px;color: black; line-height: 24px; ">Có một vị khách đã từng hỏi chúng tôi: “<strong>Phong thủy có thực sự giúp ích cho cuộc sống?</strong>”.&nbsp;<br>Câu trả lời rằng: “Điều đó hoàn toàn phụ thuộc vào niềm tin của bạn!”<br>Không phải nghiễm nhiên mà khi mua đất xây nhà, kinh doanh buôn bán…người ta lại xem hướng, xem ngày. Hay mua một chiếc xe mới, người ta lại để ý đến biển số xe. Thậm chí, việc treo một chiếc chuông gió trước cửa nhà cũng giúp họ cảm thấy an yên, hạnh phúc… Khoa học phong thủy hiện diện khắp nơi, ứng dụng vào mọi lĩnh vực của đời sống. Nó không hề trừu tượng như bạn nghĩ, mà phụ thuộc hoàn toàn vào niềm tin của bạn.<br><strong>Tại sao gọi là sim phong thủy?</strong> <br>Rất đơn giản, chiếc điện thoại là vật bất ly thân của mỗi người. Phan Bội Châu đã từng nói “Khi một sinh linh ra đời, nó đều được bẩm thụ một cái riêng có, và người ta gọi đó là Mệnh”. Những con số tưởng chừng vô tri, đơn giản nhưng lại hàm chứa vận mệnh của riêng mình. Chúng ta từng nghe đến thuật ngữ Sim số đẹp, sim Vip. Nhưng đôi khi, chúng ta chưa có thời gian để tìm hiểu những con số ấy, đặc biệt trên phương diện phong thủy. Những con số như 68, 79 hay tam hoa, tứ quý vốn được nhiều người khen đẹp, khen sang nhưng đã thực sự hợp mệnh của bạn?<br>Sim phong thủy được ví như chiếc bùa hộ mệnh. Bằng cách vận dụng các nguyên tắc số học Phương Đông, sim phong thủy chứa các con số hợp với cung mệnh của từng người. Những gia chủ tìm đến nó, luôn mong muốn có sự thay đổi về bản thân, công danh sự nghiệp, tình duyên may mắn, mọi sự an lành.<br>Thấu hiểu mong muốn hết sức thiết thực đó, chúng tôi ngày đêm nghiên cứu và đúc rút để tìm ra những số sim phong thủy hữu dụng và tuyệt vời nhất để phục vụ lộ trình danh vọng và nâng cao đời sống tinh thần của bạn. Sự kết tinh giữa khoa học thực tiễn và kinh dịch được thể hiện trong từng con số, ẩn chứa sức mạnh về sự thuận lý, sự hòa hợp và có khả năng phù trợ cho bản mệnh cũng như cộng hưởng cho sức mạnh vốn có của bạn.&nbsp;<br>Tìm Sim Phong thủy sẽ người bạn đồng hành đáng tin cậy cho bạn. Dựa vào những tham chiếu hiệu quả, bộ kiến giải xác đáng sẽ hỗ trợ đắc lực trong việc tìm sim phong thủy hợp mệnh. Còn chần chờ gì nữa, hãy nhấc máy gọi ngay đến chúng tôi để được tư vấn.&nbsp;</p>
    </div>
</div>