﻿@model SimStore_DucPham.Models.DateViewModel
@using SimStore_DucPham.Models
@{
    Layout = "~/Views/Shared/_PhongThuyLayout.cshtml";
}
<br />
<div class="row">
    <div class="col-md-12">
        <h4 style="margin:0 0 15px 0;text-align: center;color: red;font-weight:bold;">Tìm sim phong thủy - Tìm số điện thoại hợp tuổi</h4>
        <div class="phongthuy_wp">
            <div class="form_phongthuy">
                <form style="position: relative;">
                    <div class="form_phongthuy_controls text-center">
                        <div class="">
                            <div class="form_left">
                                <label>Ngày Sinh (Dương lịch)</label>
                            </div>
                            <div class="form_right" style="float: unset;">
                                <select class="combobox" name="ngaysinh" id="ngaysinh">
                                    @{
                                        for (int i = 1; i <= 31; i++)
                                        {
                                            if (i == Model.DuongLich.Day)
                                            {
                                                <option selected="selected" value="@i">@i</option>
                                            }
                                            else
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        }
                                    }
                                </select>
                                <select class="combobox" name="thangsinh" id="thangsinh">
                                    @{
                                        for (int i = 1; i <= 12; i++)
                                        {
                                            if (i == Model.DuongLich.Month)
                                            {
                                                <option selected="selected" value="@i">@i</option>
                                            }
                                            else
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        }
                                    }
                                </select>
                                <select class="combobox combobox_namsinh" name="namsinh" id="namsinh">
                                    @{
                                        int yearNow = DateTime.Now.Year;
                                        for (int i = 1930; i <= yearNow; i++)
                                        {
                                            if (i == Model.DuongLich.Year)
                                            {
                                                <option selected="selected" value="@i">@i</option>
                                            }
                                            else
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form_phongthuy_controls text-center">
                        <div>
                            <div class="form_left">
                                <label>Giới tính:&nbsp;&nbsp;</label>
                            </div>
                            <div class="form_right" style="float: unset;">
                                @{
                                    if (Model.GioiTinh.Equals("Nam"))
                                    {
                                        <div class="radio_box">
                                            <input checked="checked" type="radio" id="radio_1" value="nam" name="gioitinh">
                                            <label for="radio_1">Nam</label>
                                        </div>
                                        <div class="radio_box">
                                            <input type="radio" id="radio_2" value="nu" name="gioitinh">
                                            <label for="radio_2">Nữ</label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="radio_box">
                                            <input type="radio" id="radio_1" value="nam" name="gioitinh">
                                            <label for="radio_1">Nam</label>
                                        </div>
                                        <div class="radio_box">
                                            <input checked="checked" type="radio" id="radio_2" value="nu" name="gioitinh">
                                            <label for="radio_2">Nữ</label>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form_phongthuy_controls text-center">
                        <div>
                            <input style="border: 1px dotted #FFEB3B;" onclick="return CheckNgaySinh()" type="button" class="btn-phongthuy" value="Tìm sim hợp tuổi">
                        </div>
                    </div>
                </form>
            </div>
            <br>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div style="position: relative;">
            <div id="box_pt_details" class="corner corner-top-left">
                <div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> </div>
            </div> <div class="corner corner-bottom-left"> <div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> </div> </div> <div class="corner corner-top-right"> <div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> </div> </div> <div class="corner corner-bottom-right"> <div> <div></div> <div></div> <div></div> <div></div> <div></div> <div></div> </div> </div>
            <div class="border-red" style="padding: 14px;background: #ffefb4;font-size: 13px;">
                <img style="display: table-cell;float: left;width: 10%;" src="@Model.AmLich.ImageConGiap">
                <ul style="display: table-cell;padding: 0;padding-left: 28px;">
                    <li style="list-style-type: disc;"><strong>Thân chủ</strong>: @Model.GioiTinh sinh ngày: @Model.DuongLich.Day/@Model.DuongLich.Month/@Model.DuongLich.Year (@Model.AmLich.Day/@Model.AmLich.Month/@Model.AmLich.Year âm lịch)</li>
                    <li style="list-style-type: disc;"><strong>Can Chi</strong>: Ngày @Model.AmLich.DayCanChi.Can @Model.AmLich.DayCanChi.Chi - Tháng @Model.AmLich.MonthCanChi.Can @Model.AmLich.MonthCanChi.Chi - Năm @Model.AmLich.YearCanChi.Can @Model.AmLich.YearCanChi.Chi</li>
                    <li style="list-style-type: disc;"><strong>Mệnh cung sinh</strong>: @Model.AmLich.MenhCungSinh.Menh - @Model.AmLich.MenhCungSinh.TrungHoa - @Model.AmLich.MenhCungSinh.VietNam</li>
                    <li style="list-style-type: disc;"><strong>Mệnh cung phi</strong>: @Model.AmLich.MenhCungPhi.CungPhi - Hướng @Model.AmLich.MenhCungPhi.Huong - Màu @Model.AmLich.MenhCungPhi.Mau</li>
                    <li style="list-style-type: disc;"><strong>Con Giáp</strong>: @Model.AmLich.ConGiap.TrungHoa - @Model.AmLich.ConGiap.VietNam</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="result_pt" style="position: relative;">
            <h2 style="float:left;font-weight: bold;">Sim hợp tuổi @Model.GioiTinh @Model.AmLich.Day/@Model.AmLich.Month/@Model.AmLich.Year (Âm lịch)</h2>
        </div>
        <div class="row">
            <div class="col-md-12">
                Chức năng đang xây dựng thêm. Vui lòng truy cập sau.
            </div>
        </div>
    </div>
</div>